.row.info
  .content.small-12
    %h2.text-center
      = t(".title")
  .small-10.small-offset-1.column.medium-5.medium-offset-1.large-4.large-offset-2
    %p
      = t(".collaboration")
    %p
      = t(".agile")

  .small-10.small-offset-1.column.medium-5.medium-offset-0.large-4.end
    %p
      = t(".remote")
    %p
      = t(".support")
