.row.services
  .content.small-10.small-offset-1.medium-8.medium-offset-2.text-center
    %h2
      = t(".title")
    %p
      = t(".description")

  %div{"data-equalizer" => ""}
    %section.installation.small-10.small-offset-1.column.medium-6.medium-offset-0.large-4.large-offset-0
      %h3.title
        = t(".installation.title")
      %p.price
        = t(".installation.price")
      %ul.pricing-table{"data-equalizer-watch" => ""}
        %li.description
          = t(".installation.latest")
        %li.description
          = t(".installation.design")
        %li.description
          = t(".installation.census")
        %li.description
          = t(".installation.development")
        %li.description
          = t(".installation.environments")
        %li.cta-button
          = link_to t(".installation.submit"), url_for(anchor: "contact-anchor"), class: "button floor success"
    %section.support.small-10.small-offset-1.column.medium-6.medium-offset-0.large-4
      %h3.title
        = t(".support.title")
      %p.price
        = sanitize(t(".support.price"))
      %ul.pricing-table{"data-equalizer-watch" => ""}
        %li.description
          = t(".support.upgrade")
        %li.description
          = t(".support.channel")
        %li.description
          = t(".support.deploy")
        %li.description
          = t(".support.training")
        %li.description
          = t(".support.monitoring")
        %li.cta-button
          = link_to t(".development.submit"), url_for(anchor: "contact-anchor"), class: "button floor success"
    %section.development.small-10.small-offset-1.column.medium-6.medium-offset-3.large-4.large-offset-0.end
      %h3.title
        = t(".development.title")
      %p.price
        = t(".development.price")
      %ul.pricing-table{"data-equalizer-watch" => ""}
        %li.description
          = t(".development.new")
        %li.description
          = t(".development.mods")
        %li.description
          = t(".development.advanced_design")
        %li.description
          = t(".development.audit")
        %li.description
          = t(".development.consultancy")
        %li.cta-button
          = link_to t(".development.submit"), url_for(anchor: "contact-anchor"), class: "button floor success"

  .content.small-10.small-offset-1.medium-8.medium-offset-2.column.end
    %p.text-center
      = t(".custom")
