.row.team
  .content.small-12
    %h2.text-center
      = t(".title")

  .small-10.small-offset-1.column.medium-4.medium-offset-2
    %p.description
      = t(".description")
  .small-10.small-offset-1.column.medium-4.medium-offset-0.end
    %ul.members
      %li
        = link_to "Javi Martín", "https://github.com/javierm/", target: :blank
      %li
        = link_to "Sebastià Roig Pieras", "https://github.com/taitus/", target: :blank
      %li
        = link_to "Senén Rodero Rodríguez", "https://github.com/Senen/", target: :blank
    %p
      = t(".certified_html")
