<div class="footer col-xs-12">
  <div class='col-md-8 col-md-offset-2 text-center'>
    <%= inline_svg "svg/logo-center.svg" , class: 'logo' %>
    <br />
    Tel: +34 607 320 876 <br>
    C/ Joan Pons i Marques, 14, 07011 <br> Palma de Mallorca, España.<br>
    <%= link_to 'info@rockandror.com', 'mailto:info@rockandror.com', title: 'Enviar email a Rockandror'  %>
    <%= link_to 'Desarrollo web en Palma de Mallorca', desarrollo_web_palma_de_mallorca_path, title: 'Desarrollo web en Palma de Mallorca'  %>

    <hr>
    <ul class='col-xs-12 social'>
      <li class='col-xs-3'>
        <a href="https://www.facebook.com/rocknroragile/">
          <%= inline_svg "svg/facebook.svg" %>
        </a>
      </li>
      <li class='col-xs-3'>
        <a href="https://twitter.com/rocknroragile">
          <%= inline_svg "svg/twitter.svg" %>
        </a>
      </li>
      <li class='col-xs-3'>
        <a href="https://github.com/rockandror/">
          <%= inline_svg "svg/github.svg" %>
        </a>
      </li>
      <li class='col-xs-3'>
        <a href=" https://www.linkedin.com/company/rockandror">
          <%= inline_svg "svg/linkedin.svg" %>
        </a>
      </li>
    </ul>
  </div>

  <div class="more-info col-xs-12 ">
    <p class='text-center'>
      Utilizamos iconos de <a href="http://www.freepik.com" target="blank">Freepick</a>
    </p>
  </div>

</div>
