<div class='footer'>
  <div class='row'>
    <div class='col-xs-12 col-md-8 col-md-offset-2 text-center'>
      <%= inline_svg "svg/logo-center.svg" , class: 'logo' %>
      <br />
      Tel: +34 607 320 876 <br>
      C/ Joan Pons i Marques, 14, 07011 <br> Palma de Mallorca, España.<br>
      <a>info@rockandror.com</a>
      <hr>
      <ul class='social'>
        <li class='col-md-3'>
          <a href="https://www.facebook.com/rocknroragile/">
            <%= inline_svg "svg/facebook.svg" %>
          </a>
        </li>
        <li class='col-md-3'>
          <a href="https://twitter.com/rocknroragile">
            <%= inline_svg "svg/twitter.svg" %>
          </a>
        </li>
        <li class='col-md-3'>
          <a href="https://github.com/rockandror/">
            <%= inline_svg "svg/github.svg" %>
          </a>
        </li>
        <li class='col-md-3'>
          <a href=" https://www.linkedin.com/company/rockandror">
            <%= inline_svg "svg/linkedin.svg" %>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row more-info">
    <p class='text-center'>
      Utilizamos iconos de <a href="http://www.freepik.com" target="blank">Freepick</a>
    </p>
  </div>
</div>
