.footer
  .row.text-center
    .small-12.medium-6.small-centered.columns.text-center
      = inline_svg_tag "svg/logo-center.svg" , class: 'logo'
      %hr
      Tel: +34 607 320 876 <br>
      C/ Joan Pons i Marques, 14, 07011 <br> Palma de Mallorca, España.<br>
      %a{ href: "mailto:info@rockandror.com" } info@rockandror.com
      %hr
      %ul.social
        %li.small-3.medium-3.columns
          %a{ href: "https://www.facebook.com/rocknroragile/" }
            = inline_svg_tag "svg/facebook.svg"
        %li.small-3.medium-3.columns
          %a{ href: "https://twitter.com/rocknroragile" }
            = inline_svg_tag "svg/twitter.svg"
        %li.small-3.medium-3.columns
          %a{ href: "https://github.com/rockandror/" }
            = inline_svg_tag "svg/github.svg"
        %li.small-3.medium-3.columns
          %a{ href: " https://www.linkedin.com/company/rockandror" }
            = inline_svg_tag "svg/linkedin.svg"

      %p.text-center= t(".freepick_html")
