= render "shared/notice"
#top-bar-wrapper.contain-to-grid.fixed
  %nav#top-bar.top-bar{ data: { topbar: "", options: "mobile_show_parent_link: false; scrolltop: false; custom_back_text: true; back_text: #{t("navbar.back")}" }, role: "navigation"}
    %ul.title-area
      %li.logo.name
        %a{ href: root_path }
          = inline_svg_tag "svg/logo.svg", class: "logo"
      %li.toggle-topbar.menu-icon
        %a{ title: t("navbar.menu") }
          %span
    %section.top-bar-section
      %ul.right.show-for-topbar-breakpoint-up
        %li.has-dropdown
          %a{ href: "#" }
            = t("locale.#{I18n.locale}")
          %ul.dropdown
            - I18n.available_locales.reject{|locale| locale == I18n.locale }.each do |locale|
              %li
                = link_to t("locale.#{locale}"), url_for(locale: locale)
      %ul.left
        %li{ class: active?("welcome", "home")}
          %a{ href: root_path }= t("navbar.home")
        %li.consul{class: active?("welcome", "consul")}
          %a{ href: consul_path }= t("navbar.consul")
        %li.has-dropdown.portfolio{ class: active?("welcome", ["boatjump", "webdings", "eatbooking", "oasiscatamaran"]) }
          %a{ href: "#" }= t("navbar.works")
          %ul.dropdown
            %li{class: active?("welcome", "boatjump") }
              = link_to "Boatjump", boatjump_path
            %li{class: active?("welcome", "webdings") }
              = link_to "Webdings", webdings_path
            %li{class: active?("welcome", "eatbooking") }
              = link_to "Eatbooking", eatbooking_path
            %li{class: active?("welcome", "oasiscatamaran") }
              = link_to "Oasis Catamaran", oasiscatamaran_path
        %li.consul{class: active?("contact", ["new", "create"]) }
          %a{ href: new_contact_path }= t("navbar.contact")
        %li.has-dropdown.hide-for-topbar-breakpoint-up
          %a{ href: "#" }
            = t("navbar.language")
          %ul.dropdown
            - I18n.available_locales.reject{|locale| locale == I18n.locale }.each do |locale|
              %li
                = link_to t("locale.#{locale}"), url_for(locale: locale)
