/ %a.btn-scroll.fixed-button-responisve.bounce{:href => "#scroll_to_rockandror"} 
/   = inline_svg "svg/arrow-btn.svg" , class: 'icon-menu'
/ %a.btn-menu.fixed-button-responisve{ id:"btn-menu-responsive"}
/   = inline_svg "svg/plus.svg" , class: 'icon-menu'

%form#ridirect_responsive{:action => "/webdings"}
  %input{:type => "submit"}

#btn_container
%a#btn_scroll
  = inline_svg "svg/back.svg" , class: 'icon-menu'
%a#btn_plus
  = inline_svg "svg/plus.svg" , class: 'icon-menu'
%a#btn_close
  = inline_svg "svg/close.svg" , class: 'icon-menu'
%a#btn_back
  = inline_svg "svg/back.svg" , class: 'icon-menu'
%a#btn_home.btnm{:href => root_path}
  = inline_svg "svg/home.svg" , class: 'icon-menu'
  %span home
%a#btn_works.btnm
  = inline_svg "svg/works.svg" , class: 'icon-menu'
  %span trabajos
%a#btn_team.btnm
  = inline_svg "svg/team.svg" , class: 'icon-menu'
  %span Equipo
%a#btn_email{:href => new_contact_path}
  = inline_svg "svg/email.svg", class:'icon-menu'
  %span contactos
%a#btn_tel{:href => "tel:+34607320876"} 
  = inline_svg "svg/phone.svg", class:'icon-menu'
  %span Llama

#container_submenu
  .owl-carousel
    %a#btn_webdings{:href => '#'}
      %h2 Webdings
      %strong crea la app y la web de tu boda
      %p SaaS que tiene como objetivo permitir a los usuarios crear de forma muy sencilla una web y una aplicación móvil para su boda.
      = image_tag "webdings/background-page.jpg"
    %a#btn_eatbooking{:href => '#'}
      %h2 Eatbooking
      %strong crea la app y la web de tu boda
      %p SaaS que tiene como objetivo permitir a los usuarios crear de forma muy sencilla una web y una aplicación móvil para su boda.
      = image_tag "eatbooking/background-page.jpg"
    %a#btn_oasiscatamaran{:href => '#'}
      %h2 Oasis Catamaran
      %strong crea la app y la web de tu boda
      %p SaaS que tiene como objetivo permitir a los usuarios crear de forma muy sencilla una web y una aplicación móvil para su boda.
      = image_tag "oasis-catamaran/background-page.jpg"

.container-menu
  / %a.btn-home{:href => "#"}
  /   = inline_svg "svg/home.svg" , class: 'icon-menu'
  /   %span Home
  / %a.btn-works{:href => "#"}
  /   = inline_svg "svg/works.svg" , class: 'icon-menu'
  /   %span Trabajos
  / %a.btn-team{:href => "#"}
  /   = inline_svg "svg/team.svg" , class: 'icon-menu'
  /   %span Equipo
  / %a.btn-contact{:href => "#"}
  /   = inline_svg "svg/email.svg" , class: 'icon-menu'
  /   %span Contacta
  / %a.btn-callnow{:href => "#"}
  /   = inline_svg "svg/phone.svg" , class: 'icon-menu'
  /   %span Llamanos
  / %a.btn-close-menu.fixed-button-responisve
  /   = inline_svg "svg/close.svg" , class: 'icon-menu'
.row.top-contact
  .small-8.columns
    %a{:href => root_path} 
      = inline_svg "svg/logo-smartphone.svg" , class: 'logo-smartphone'
  .small-2.columns.tel
    %a{:href => "tel:+34607320876"} 
      = inline_svg "svg/phone.svg", class:'icon-nav'
  .small-2.columns.email
    %a{:href => new_contact_path}
      = inline_svg "svg/email.svg", class:'icon-nav'

  
%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area.small-12.medium-4.columns
    %li.logo
      %h1
        %a{:href => root_path}
          = inline_svg "svg/logo.svg", class: 'logo-horiz show-for-medium-up'
    / Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menu
  %section.top-bar-section
    / Right Nav Section
    %ul.right
      %li
        / %strong +34 607.320.876
        %a{:href => new_contact_path} Envíanos un email
    / Left Nav Section
    %ul.small-4.medium-4.columns.show-for-medium-up
      %li{:class => active?("home", params[:action])}
        %a{:href => root_path} Home
      %li.has-dropdown{:class => active?("portfolio", params[:action])}
        %a{:href => "#"} Últimos trabajos
        %ul.dropdown
          %li
            = link_to 'Webdings', '/webdings'
          %li
            = link_to 'Eatbooking', '/eatbooking' 
          %li
            = link_to 'Oasis Catamaran', '/oasiscatamaran'