%form#ridirect_responsive{:action => "/webdings"}
  %input{:type => "submit"}

#overlay_menu_responsive

%a#btn_plus
  = inline_svg "svg/plus.svg" , class: 'icon-menu'
%a#btn_close
  = inline_svg "svg/close.svg" , class: 'icon-menu'
%a#btn_back
  = inline_svg "svg/back.svg" , class: 'icon-menu'
%a#btn_home{:href => root_path}
  = inline_svg "svg/home.svg" , class: 'icon-menu'
  %span Inicio
%a#btn_works
  = inline_svg "svg/works.svg" , class: 'icon-menu'
  %span Trabajos
%a#btn_consul_budget
  = inline_svg "svg/consul-logo-responsive.svg" , class: 'icon-menu'
  %span Servicios Consul
%a#btn_consul_budget
  = inline_svg "svg/consul-logo-responsive.svg" , class: 'icon-menu'
  %span Servicios Consul
%a#btn_email{ href: new_contact_path }
  = inline_svg "svg/email.svg", class: 'icon-menu'
  %span Escríbenos
%a#btn_tel{ href: "tel:+34607320876" }
  = inline_svg "svg/phone.svg", class: 'icon-menu'
  %span Llámanos

#container_submenu_responsive
  .owl-carousel
    %a#btn_boatjump{:href => '#'}
      %h2
        %strong BoatJump
      %span Alquiler de barcos
      = image_tag "boatjump/background-page.jpg"
    %a#btn_webdings{:href => '#'}
      %h2
        %strong Webdings
      %span Crea la app y la web de tu boda
      = image_tag "webdings/background-page.jpg"
    %a#btn_eatbooking{:href => '#'}
      %h2
        %strong Eatbooking
      %span Reservas electrónico para restaurantes
      = image_tag "eatbooking/background-page.jpg"
    %a#btn_oasiscatamaran{:href => '#'}
      %h2
        %strong  Oasis Catamarán
      %span Venta online de excursiones en catamarán.
      = image_tag "oasis-catamaran/background-page.jpg"

.row.top-contact
  .small-6.columns
    %a{:href => root_path}
      = inline_svg "svg/logo-smartphone.svg", class: 'logo-smartphone'
  .small-2.columns.locale
    - I18n.available_locales.reject{|locale| locale == I18n.locale }.each do |locale|
      %a{:href => url_for(locale: locale)}
        = t("locale.#{locale}")
  .small-2.columns.tel
    %a{:href => "tel:+34607320876"}
      = inline_svg "svg/phone.svg", class: 'icon-nav'
  .small-2.columns.email
    %a{:href => new_contact_path}
      = inline_svg "svg/email.svg", class: 'icon-nav'

= render "shared/notice"
%nav.top-bar{"data-topbar" => "", :role => "navigation"}
  %ul.title-area.small-12.medium-5.large-4.columns
    %li.logo
      %a{:href => root_path}
        = inline_svg "svg/logo.svg", class: 'logo-horiz show-for-medium-up'
    %li.toggle-topbar.menu-icon
      %a{:href => "#"}
        %span Menú
  %section.top-bar-section
    %ul.right
      %li.anim.has-dropdown
        %a{:href => "#"}
          = t("locale.#{I18n.locale}")
        %ul.dropdown
          - I18n.available_locales.reject{|locale| locale == I18n.locale }.each do |locale|
            %li
              = link_to t("locale.#{locale}"), url_for(locale: locale)
      %li
        %a{:href => new_contact_path} Envíanos un email
    %ul.left.small-4.medium-4.columns.show-for-medium-up
      %li.anim{:class => active?("home", params[:action])}
        %a{:href => root_path} Inicio
      %li.anim.has-dropdown.portfolio{:class => active?("portfolio", params[:action])}
        %a{:href => "#"} Últimos trabajos
        %ul.dropdown
          %li
            = link_to 'Boatjump', '/boatjump'
          %li
            = link_to 'Webdings', '/webdings'
          %li
            = link_to 'Eatbooking', '/eatbooking'
          %li
            = link_to 'Oasis Catamaran', '/oasiscatamaran'
      %li.anim.consul{:class => active?("new", params[:action])}
        %a{:href => consul_budget_path} Servicios Consul
