<nav class="navbar navbar-static-top top-bar">
  <div class="row-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <div id="menu-hamburger">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">
        <%= inline_svg "svg/logo.svg", class: 'logo-horiz' %>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">

      <ul class="nav navbar-nav left">
        <li class="dropdown anim">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= t'navbar.how_we_works.title' %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to t('navbar.how_we_works.tools'), best_tools_path %>
            </li>
            <li>
              <%= link_to t('navbar.how_we_works.agile_development'), agile_development_path %>
            </li>
            <li>
              <%= link_to t('navbar.how_we_works.open_source'), open_source_path %>
            </li>
            <li>
              <%= link_to t('navbar.how_we_works.startup'), startup_path %>
            </li>
          </ul>
        </li>
        <li class="dropdown anim">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= t'navbar.last_works' %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to 'Todos', works_path %>
            </li>
            <hr class="hidden-xs">
            <li>
              <%= link_to 'Boatjump', boatjump_path %>
            </li>
            <li>
              <%= link_to 'Webdings', webdings_path %>
            </li>
            <li>
              <%= link_to 'Taskscheduler', taskscheduler_path %>
            </li>
            <li>
              <%= link_to 'Eatbooking', eatbooking_path %>
            </li>
            <li>
              <%= link_to 'Oasiscatamaran', oasiscatamaran_path %>
            </li>
          </ul>
          <li class="anim">
            <%= link_to t('navbar.team'), team_path %>
          </li>
          <li class="anim visible-xs">
            <%= link_to t('navbar.send_email'), new_contact_path %>
          </li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="anim btn-contact">
          <%= link_to t('navbar.send_email'), new_contact_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
