<div class="contact">
  <%= bootstrap_form_for @contact do |f| %>
    <%= f.text_field :name, placeholder: 'Nombre u Organización', label: "Nombre" %>
    <%= f.text_field :email, placeholder: 'Email', label: "Email" %>
    <%= f.text_area :message, placeholder: 'Mensaje', label: "Mensaje" %>
    <%= f.submit "Enviar" %>
  <% end %>
</div>