%section.howweworks.pageSection
  .row.text-center
    .small-12.columns.text-center
      %h3 Con tal de obtener el <strong>mayor valor posible con el mínimo esfuerzo</strong> seguimos fielmente los principios del <span>desarrollo agile</span>.
      %i Explicar todos los conceptos relacionados con la metodología filosofía de desarrollo agile es demasiado extenso para incluirlo en este documento, pero lo podemos resumir de la siguiente forma.
    .small-12.columns.workflow
      %div.block
        = inline_svg "analisis-icon.svg"
        %span Análisis
      %div.arrow
        = inline_svg "arrow-workflow.svg"  
      %div.block
        = inline_svg "diseno-icon.svg"
        %span Diseño
      %div.arrow
        = inline_svg "arrow-workflow.svg"  
      %div.block
        = inline_svg "implementacion-icon.svg"
        %span Implementación
      %div.arrow
        = inline_svg "arrow-workflow.svg"  
      %div.block
        = inline_svg "aceptacion-icon.svg"
        %span Aceptación
      %div.arrow
        = inline_svg "arrow-workflow.svg"  
      %div.block
        = inline_svg "lanzamiento-icon.svg"
        %span Lanzamiento
      %div.block-path
        = inline_svg "sprint-path.svg"  
        .newsprint Nuevo Sprint
    .small-12.columns.text
      %ul
        %li 1. Análisis: planteamiento de nuevas funcionalidades, proposición de soluciones y planificación de objetivos.
        %li 2. Diseño: realización de maquetas (mockups), identificar riesgos, anticipar problemas y preparar alternativas.
        %li 3. Implementación: desarrollo de las funcionalidades, pruebas unitarias y de integración.
        %li 4. Aceptación: revisión de las nuevas funcionalidades, ajustes y correcciones necesarias.
        %li 5. Lanzamiento: instalación en producción y feedback de los usuarios.
      %hr
      %span 
        * Es importante que el cliente forme parte del equipo, que conozca el alcance y los recursos de que dispone. le ayudaremos a entender rápidamente cómo hacer el seguimiento de su proyecto y a seguir el mejor camino posible, aquel que le ofrezca el máximo valor con el mínimo esfuerzo. esto lo conseguimos gracias a la búsqueda constante del MVP (Minimum Viable Product), que no es más que identificar la funcionalidad que más valor le da a su propuesta y centrar los esfuerzos y recursos en ponerla en práctica en el menor tiempo posible.