<section class="open_source" id="scroll_to_open_source">
  <div class="container">
    <div class="col-md-6 col-sm-6 text-right">
      <h2>
        <%= t'home_page.open_source.title_html' %>
      </h2>
      <h3>
        <%= t'home_page.open_source.title_html' %>
      </h3>
      <lead>
        <%= t'home_page.open_source.more_text_html' %>
        <br>
        <%= link_to t('home_page.open_source.btn_info'), open_source_path %>
        <%= link_to '▼', '#scroll_to_team', class: 'pull-right visible-xs' %>
      </lead>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 columns hidden-xs">
      <div class="image"></div>
    </div>
  </div>
  <%= link_to '▼ Equipo', '#scroll_to_team', class: "btn center-block next-section hidden-xs" %>
</section>
