%section#scroll_to_portfolio.portfolio.pageSection
  .row
    .small-12.columns.cont
      %h2 PORTFOLIO
      %p Algunos de nuestros últimos proyectos
      %hr
      .gallery 
        %div
          = image_tag("openmad.png")
          %hr
          Tecnologia: Rails4, Foundation, Sass, Responsive
          = link_to 'github AyuntamientoMadrid', 'https://github.com/AyuntamientoMadrid/transparencia/', target: :blank
        %div
          = image_tag("eatbooking.png")
          %hr
          Tecnologia: Rails4, PostgreSQL, Bootstrap, Sass, Redsys, Responsive
          = link_to 'eatbooking.com', 'http://www.eatbooking.com', target: :blank
        %div
          = image_tag("trickking.png") 
          %hr
          Tecnologia: Rails4, PostgreSQL, Bootstrap, Sass, Stripe, Responsive
          = link_to 'trickking.es', 'http://www.trickking.es/', target: :blank
        %div
          = image_tag("catamaran-oasis.png")
          %hr
          Tecnologia: Rails4, PostgreSQL, Bootstrap, Sass, Responsive 
          = link_to 'oasiscatamaran.com', 'http://www.oasiscatamaran.com', target: :blank
        %div
          = image_tag("cometeloscabos.png")
          %hr
          Tecnologia: CakePHP, MySQL, Bootstrap, Responsive
          = link_to 'cometeloscabos.com', 'http://www.cometeloscabos.com', target: :blank