<section class="portfolio" id="scroll_to_portfolio">
  <div class="container">
    <h2>PORTFOLIO</h2>
    <h3>Algunas de nuestros últimos trabajos</h3>
    <div id="carousel-portfolio" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-portfolio" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-portfolio" data-slide-to="1"></li>
        <li data-target="#carousel-portfolio" data-slide-to="2"></li>
        <li data-target="#carousel-portfolio" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <%= image_tag("1.jpg") %>
          <div class="carousel-caption">
            <h3>Catamaran Oasis</h3>
            <p>Aplicación para la venta online de excursiones y BackEnd de gestión integral.</p>
            <p>Tecnologia: Rails4, PostgreSQL, Bootstrap, Redsys, Responsive</p>   
            <p><%= link_to 'www.catamaranoasis.com', 'www.catamaranoasis.com', target: :blank %></p>         
          </div>
        </div>
        <div class="item">
          <%= image_tag("2.jpg") %>
          <div class="carousel-caption">
            <h3>EatBooking</h3>
            <p>Plataforma para la gestión de reservas online en restaurantes.</p>
            <p>Tecnologia: Rails4, PostgreSQL, Bootstrap, Stripe, Responsive</p> 
            <p><%= link_to 'www.eatbooking.com', 'www.eatbooking.com', target: :blank %></p>           
          </div>
        </div>
        <div class="item">
          <%= image_tag("1.jpg") %>
          <div class="carousel-caption">
            <h3>Trickking</h3>
            <p>Prototipo de una red social para deportitas extremos.</p>
            <p>Tecnologia: Rails4, PostgreSQL, Bootstrap, Responsive</p>
            <p><%= link_to 'www.trickking.com', 'www.trickking.com', target: :blank %></p>            
          </div>
        </div>
        <div class="item">
          <%= image_tag("2.jpg") %>
          <div class="carousel-caption">
            <h3>Comete los Cabos</h3>
            <p>Prototipo de una red social para deportitas extremos.</p>
            <p>Tecnologia: CakePHP, MySQL, Bootstrap, Responsive</p>
            <p><%= link_to 'www.cometeloscabos.com', 'www.cometeloscabos.com', target: :blank %></p>         
          </div>
        </div>
        <div class="item">
          <%= image_tag("2.jpg") %>
          <div class="carousel-caption">
            <h3>WorldWideBebarages</h3>
            <p>Nueva plataforma de venta de cerveza para el portal cervezainternacional.net</p>
            <p>Tecnologia: Rails4, PostgreSQL, Bootstrap, Redsys, Integraciones</p>                  
          </div>
        </div>                               
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-portfolio" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-portfolio" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>
