%section.portfolio
  .row
    .small-12.columns
      %h2 PORTFOLIO
      %h3 Algunos de nuestros últimos proyectos
      .gallery 
        %div
          = image_tag("eatbooking.png")
          Tecnologia: Rails4, PostgreSQL, Bootstrap, Sass, Redsys, Responsive
          = link_to 'eatbooking.com', 'http://www.eatbooking.com', target: :blank
        %div
          = image_tag("trickking.png") 
          Tecnologia: Rails4, PostgreSQL, Bootstrap, Sass, Stripe, Responsive
          = link_to 'trickking.com', 'http://trickking.herokuapp.com', target: :blank
        %div
          = image_tag("catamaran-oasis.png")
          Tecnologia: Rails4, PostgreSQL, Bootstrap, Sass, Responsive 
          = link_to 'oasiscatamaran.com', 'http://www.oasiscatamaran.com', target: :blank
        %div
          = image_tag("cometeloscabos.png")
          Tecnologia: CakePHP, MySQL, Bootstrap, Responsive
          = link_to 'cometeloscabos.com', 'http://www.cometeloscabos.com', target: :blank