%section#scroll_to_rockandror.rockandror 
  .row
    .small-12.columns
      .small-12.medium-4.columns
        %h3 SOBRE ROCK&ROR
        %p Somos un equipo de <strong>desarrollo web en Palma de Mallorca</strong> entusiastas de las nuevas tecnologías. Nuestros desarrollos web a medida están diseñados tanto para start-ups como para grandes empresas
      .small-12.medium-4.columns
        %h3 ¿POR QUÉ NOSOTROS?
        %p Ofrecemos un <strong>enfoque personal y efectivo en cada proyecto</strong> que participamos, por eso ponemos especial atención en la calidad del código realizando los tests necesarios para que garanticen el correcto funcionamiento.
      .small-12.medium-4.columns
        %h3 TRANSPARENCIA
        %p Ofrecemos a nuestros clientes acceso a: Informes detallados del trabajo del equipo / Código fuente (Github/Bitbucket) / Comunicación directa con el equipo de trabajo / Y recuerda, tú también formas parte del equipo
      %hr
      .small-12.medium-4.columns.text-center
        = image_tag "team/sebastia.jpg" 
        %h4 Sebastià Roig
        %span Ingeniero de software.<br> Desarrollador Ror/Java. <br> Co-fundador
        %ul.inline-list
          %li
            %a{:href => "https://twitter.com/sroig83"}
              = inline_svg "svg/twitter.svg"
          %li
            %a{:href => "https://github.com/taitus"}
              = inline_svg "svg/github.svg"
          %li
            %a{:href => ""}
              = inline_svg "svg/linkedin.svg"
        %hr
        %p Valora su tiempo como ninguno, le apasionan las metodologías ágiles y las buenas prácticas en el desarrollo del software. Desarrollador experto en Ror/Java
        %hr
        %span No deja escapar la oportunidad de una buena barbacoa
        = inline_svg "svg/barbecue.svg"
      .small-12.medium-4.columns.text-center
        = image_tag "team/senen.jpg" 
        %h4 Senén Rodero
        %span Ingeniero Informático.<br> Consultor y Ror/Java/Php.<br> Co-fundador
        %ul.inline-list
          %li
            %a{:href => "https://twitter.com/senenrodero"}
              = inline_svg "svg/twitter.svg"
          %li
            %a{:href => "https://github.com/Senen"}
              = inline_svg "svg/github.svg"
          %li
            %a{:href => "https://www.linkedin.com/in/senenrodero/"}
              = inline_svg "svg/linkedin.svg"
        %hr
        %p A Senén le gusta probar nuevas tecnológías y herramientas que nos puedan aportar mejoras competitivas.  En constante aprendizaje.  Desarrollador experto en Ror/Java/Php.
        %hr
        %span Surfero siempre está atento a las buenas olas.
        = inline_svg "svg/surf.svg"
      .small-12.medium-4.columns.text-center
        = image_tag "team/alessandro.jpg" 
        %h4 Alessandro Cuoghi
        %span Diseñador <br> UI/UX desarrollador.<br> Co-fundador
        %ul.inline-list
          %li
            %a{:href => "https://twitter.com/rocknroragile"}
              = inline_svg "svg/twitter.svg"
          %li
            %a{:href => "https://github.com/agileontheweb"}
              = inline_svg "svg/github.svg"
          %li
            %a{:href => "https://www.linkedin.com/in/alessandrocuoghi"}
              = inline_svg "svg/linkedin.svg"
        %hr
        %p Alessandro es la mente que da color y vida a las creaciones de Rock and Ror. Experimentado diseñador que le gusta ofrecer interficies de usuario bonitas, sencillas y usables.
        %hr
        %span Le encanta hacer skate y comer la barbacoa de Sebas.
        = inline_svg "svg/skate.svg"

      .small-12.columns.text-center
        %hr
        %i Somos unos entusiastas del framework para <strong>desarrollo web Ruby on Rails</strong> (abreviado ror) y de las nuevas tecnologías web. Siempre utilizamos las mejores herramientas para ofrecer un producto final sólido y robusto. Estas son algunas de las que utilizamos: RubyOnRails, Coffescript, Html, Javascript, Github, Sass, Foundation, Postgress, Bootstrap, Heroku, Jquery, Angular, Ionic, Photoshop, Illustrator.