%span#scroll_to_rockandror.anchor
%section.rockandror
  .fluid-row.experts
    %h2 RockandRor equipo de profesionales dedicados al desarrollo ágil de aplicaciones web y App para Startup.
    %blockquote.curly-quotes
      Tenemos un plan estratégico. Se llama hacer las cosas bien.
    .author Herb Kelleher
  .row
    .small-12.columns
      .small-12.medium-4.columns
        %h3 SOBRE ROCK&ROR
        %p Somos un equipo de <strong>desarrollo web en Palma de Mallorca</strong> entusiastas de las nuevas tecnologías. Nuestros desarrollos web a medida están diseñados tanto para start-ups como para grandes empresas.
      .small-12.medium-4.columns
        %h3 ¿POR QUÉ NOSOTROS?
        %p Ofrecemos un <strong>enfoque personal y efectivo en cada proyecto</strong> que participamos, por eso ponemos especial atención en la calidad del código realizando los tests necesarios para que garanticen el correcto funcionamiento.
      .small-12.medium-4.columns
        %h3 TRANSPARENCIA
        %p Ofrecemos a nuestros clientes acceso a: Informes detallados del trabajo del equipo / Código fuente (Github/Bitbucket) / Comunicación directa con el equipo de trabajo / Y recuerda, tú también formas parte del equipo.
      %hr
      .small-12.medium-4.columns
        = image_tag "team/sebastia.jpg", alt: ""
        %h4 Sebastià Roig
        %span Ingeniero de software<br> Desarrollador Ror/Java<br> Co-fundador
        %ul.inline-list
          %li
            %a{:href => "https://twitter.com/sroig83", target: '_blank'}
              %span.show-for-sr
                = t("twitter.sebas")
              = inline_svg_tag "svg/twitter.svg", aria_hidden: true
          %li
            %a{:href => "https://github.com/taitus", target: '_blank'}
              %span.show-for-sr
                = t("github.sebas")
              = inline_svg_tag "svg/github.svg", aria_hidden: true
          %li
            %a{:href => "https://es.linkedin.com/in/sebastiaroig", target: '_blank'}
              %span.show-for-sr
                = t("linkedin.sebas")
              = inline_svg_tag "svg/linkedin.svg", aria_hidden: true
        %hr
        %p Valora su tiempo como ninguno, le apasionan las metodologías ágiles y las buenas prácticas en el desarrollo del software. Desarrollador experto en RoR/Java.
        %hr
        %span No deja escapar la oportunidad de una buena barbacoa.
        = inline_svg_tag "svg/barbecue.svg", aria_hidden: true
      .small-12.medium-4.columns
        = image_tag "team/senen.jpg", alt: ""
        %h4 Senén Rodero
        %span Ingeniero Informático<br> Consultor RoR/Java/Php<br> Co-fundador
        %ul.inline-list
          %li
            %a{:href => "https://twitter.com/senenrodero", target: '_blank'}
              %span.show-for-sr
                = t("twitter.senen")
              = inline_svg_tag "svg/twitter.svg", aria_hidden: true
          %li
            %a{:href => "https://github.com/Senen", target: '_blank'}
              %span.show-for-sr
                = t("github.senen")
              = inline_svg_tag "svg/github.svg", aria_hidden: true
          %li
            %a{:href => "https://www.linkedin.com/in/senenrodero/", target: '_blank'}
              %span.show-for-sr
                = t("linkedin.senen")
              = inline_svg_tag "svg/linkedin.svg", aria_hidden: true
        %hr
        %p A Senén le gusta probar nuevas tecnológías y herramientas que nos puedan aportar mejoras competitivas. En constante aprendizaje.  Desarrollador experto en RoR/Java/Php.
        %hr
        %span Surfero, siempre atento al parte meteorológico.
        = inline_svg_tag "svg/surf.svg", aria_hidden: true
      .small-12.medium-4.columns
        = image_tag "team/alessandro.jpg", alt: ""
        %h4 Alessandro Cuoghi
        %span Diseñador UI/UX <br> desarrollador<br> Co-fundador
        %ul.inline-list
          %li
            %a{:href => "https://twitter.com/agileontheweb", target: '_blank'}
              %span.show-for-sr
                = t("twitter.cuoghi")
              = inline_svg_tag "svg/twitter.svg", aria_hidden: true
          %li
            %a{:href => "https://github.com/agileontheweb", target: '_blank'}
              %span.show-for-sr
                = t("github.cuoghi")
              = inline_svg_tag "svg/github.svg", aria_hidden: true
          %li
            %a{:href => "https://www.linkedin.com/in/alessandrocuoghi", target: '_blank'}
              %span.show-for-sr
                = t("linkedin.cuoghi")
              = inline_svg_tag "svg/linkedin.svg", aria_hidden: true
        %hr
        %p Alessandro es la mente que da color y vida a las creaciones de RockAndRoR. Experimentado diseñador que le gusta ofrecer interficies de usuario bonitas, sencillas y usables.
        %hr
        %span Le encanta hacer skate y comer la barbacoa de Sebas.
        = inline_svg_tag "svg/skate.svg", aria_hidden: true

      .small-12.columns.tecnology
        %hr
        %i Somos unos entusiastas del framework para <strong>desarrollo web Ruby on Rails</strong> (RoR) y de las nuevas tecnologías web. Siempre utilizamos las mejores herramientas para ofrecer un producto final sólido y robusto. Estas son algunas de las que más utilizamos en nuestros desarrollos: RubyOnRails, Coffescript, Html, Haml, Javascript, Github, Sass, Foundation, PostgreSQL, Bootstrap, Heroku, Jquery, Angular, Ionic, Photoshop, Illustrator.
