<section class="team" id="team">
  <div class="container">
    <h2>Equipo</h2>
    <h3>Apasionados del desarrollo a medida te ayudamos a desarrollar tus ideas.</h3>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "senen.png", class: "img-responsive img-square"%>
        <div class="row">
          <strong>Senén Rodero</strong>
          <i>Ingeniero Informático. Desarrollador Ror/Java/Php Co-fundador</i>
          <p>
            A Senén le gusta escribir código de calidad y las metodologias ágiles de desarrollo. Actualmente disfruta trabajando con RubyOnRails. Surfer de nacimiento, siempre está atento a las buenas olas.
          </p>
          <%= link_to "", "https://github.com/Senen", class: "fa fa-github", target: :blank %>
          <%= link_to "", "https://twitter.com/senenrodero", class: "fa fa-twitter", target: :blank %>
          <%= link_to "", "https://es.linkedin.com/pub/senén-rodero-rodríguez/25/371/21b", class: "fa fa-linkedin", target: :blank %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "carlos.png", class: "img-responsive img-square"%>
        <div class="row">
          <strong>Carlos Guzmán</strong>
          <i>Ingeniero de software. Desarrollador Ror/.Net Co-fundador</i>
          <p>Carlos es un apasionado del buen código. No descansa hasta encontrar la mejor solución a un problema. Le encanta hacer skate y un buen videojuego.</p>
          <%= link_to "", "https://github.com/guzmanweb", class: "fa fa-github", target: :blank %>
          <%= link_to "", "https://twitter.com/carlosguzmanweb", class: "fa fa-twitter", target: :blank %>
          <%= link_to "", "https://es.linkedin.com/in/carlosguzmanweb", class: "fa fa-linkedin", target: :blank %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "sebastia.png", class: "img-responsive img-square"%>
        <div class="row">
          <strong>Sebastià Roig</strong>
          <i>Ingeniero de software. Desarrollador Ror/Java. Co-fundador</i>
          <p>Valora su tiempo como ninguno, le apasionan las metodologías ágiles y las buenas prácticas en el desarrollo del software. No deja escapar la oportunidad de una buena barbacoa.
          </p>
          <%= link_to "", "https://github.com/taitus", class: "fa fa-github", target: :blank %>
          <%= link_to "", "https://twitter.com/sroig83", class: "fa fa-twitter", target: :blank %>
          <%= link_to "", "https://es.linkedin.com/in/sebastiaroig", class: "fa fa-linkedin", target: :blank %>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "alessandro.png", class: "img-responsive img-square"%>
        <div class="row">
          <strong>Alessandro Cuoghi</strong>
          <i>Diseñador, desarrollador de interfaces de usuario. Co-fundador</i>
          <p>Alessandro es la mente que da color y vida a las creaciones de Rock & Ror. Experimentado diseñador que le gusta ofrecer interficies de usuario bonitas, sencillas y usables. También le encanta hacer skate.</p>
          <%= link_to "", "https://github.com/agileontheweb", class: "fa fa-github", target: :blank %>
          <%= link_to  "", "https://twitter.com/agileontheweb", class: "fa fa-twitter", target: :blank %>
          <%= link_to "", "https://es.linkedin.com/in/alessandrocuoghi", class: "fa fa-linkedin", target: :blank %>
        </div>
      </div>
    </div>
  </div>
</section>