<section class="team" id="team">
  <div class="container">
    <h2>Equipo</h2>
    <h3>We are a team passionate about new web technologies.</h3>   
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Senén Rodero</strong>
        <i>Ingeniero de software. Full stack developer. Co-founder</i>
        <p>Sebas loves to create new things on the Internet. He is a team player and always look at the bright side of life. He has twelve years experience in programming.        </p>
        <%= link_to "", nil, class: "fa fa-twitter" %>
        <%= link_to "", nil, class: "fa fa-linkedin" %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
         <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Sebastià Roig</strong>
        <i>Ingeniero de software. Full stack developer. Co-founder</i>
        <p>Sebas loves to create new things on the Internet. He is a team player and always look at the bright side of life. He has twelve years experience in programming.
        </p>
        <%= link_to "", nil, class: "fa fa-twitter" %>
        <%= link_to "", nil, class: "fa fa-linkedin" %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Carlos Guzmán</strong>
        <i>Ingeniero de software. Full stack developer. Co-founder</i>
        <p>Sebas loves to create new things on the Internet. He is a team player and always look at the bright side of life. He has twelve years experience in programming.
        </p>
        <%= link_to "", nil, class: "fa fa-twitter" %>
        <%= link_to "", nil, class: "fa fa-linkedin" %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Alessandro Cuoghi</strong>
        <i>Diseñador, desarrollador de interfaces de usuario. Co-founder</i>
        <p>Sebas loves to create new things on the Internet. He is a team player and always look at the bright side of life. He has twelve years experience in programming.
        </p>
        <%= link_to "", nil, class: "fa fa-twitter" %>
        <%= link_to "", nil, class: "fa fa-linkedin" %>
      </div>
    </div>
  </div>
</section>