<section class="team" id="team">
  <div class="container">
    <h2>Equipo</h2>
    <h3>Apasionados del desarrollo a medida te ayudamos a desarrollar tus ideas.</h3>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Senén Rodero</strong>
        <i>Ingeniero Informático. Co-fundador</i>
        <p>Me gusta escribir código de calidad y las metodologias ágiles de desarrollo. Actualmente trabajo en RubyOnRails y me divierto trabajando.</p>
        <%= link_to "", "https://github.com/Senen", class: "fa fa-github", target: :blank %>
        <%= link_to "", "https://twitter.com/senenrodero", class: "fa fa-twitter", target: :blank %>
        <%= link_to "", "https://es.linkedin.com/pub/senén-rodero-rodríguez/25/371/21b", class: "fa fa-linkedin", target: :blank %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
         <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Sebastià Roig</strong>
        <i>Ingeniero de software. Full stack developer. Co-founder</i>
        <p>Sebas loves to create new things on the Internet. He is a team player and always look at the bright side of life. He has twelve years experience in programming.
        </p>
        <%= link_to "", nil, class: "fa fa-github", target: :blank %>
        <%= link_to "", nil, class: "fa fa-twitter", target: :blank %>
        <%= link_to "", nil, class: "fa fa-linkedin", target: :blank %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Carlos Guzmán</strong>
        <i>Ingeniero de software. Full stack developer. Co-founder</i>
        <p>Sebas loves to create new things on the Internet. He is a team player and always look at the bright side of life. He has twelve years experience in programming.
        </p>
        <%= link_to "", nil, class: "fa fa-github", target: :blank %>
        <%= link_to "", nil, class: "fa fa-twitter", target: :blank %>
        <%= link_to "", nil, class: "fa fa-linkedin", target: :blank %>
      </div>
    </div>
    <div class="col-sm-6 col-md-3 person">
      <div class="inner">
        <%= image_tag "senen.png", class: "img-responsive img-circle"%>
        <strong>Alessandro Cuoghi</strong>
        <i>Diseñador, desarrollador de interfaces de usuario. Co-founder</i>
        <p>Sebas loves to create new things on the Internet. He is a team player and always look at the bright side of life. He has twelve years experience in programming.
        </p>
        <%= link_to "", nil, class: "fa fa-github", target: :blank %>
        <%= link_to "", nil, class: "fa fa-twitter", target: :blank %>
        <%= link_to "", nil, class: "fa fa-linkedin", target: :blank %>
      </div>
    </div>
  </div>
</section>