%section#scroll_to_team.team.pageSection
  .row
    .small-12.columns
      %h2 Equipo
      %p Apasionados del desarrollo a medida te ayudamos a desarrollar tus ideas.
      .row.section.eqWrap
        .small-12.medium-3.columns.flip-container
          %div.flipper  
            %div.carlos.front
              %div 
                = image_tag "guman.jpg"
                %span.flaticon-horror5.hide-for-small-only
              %strong Carlos Guzm&aacute;n
              %i Ingeniero de software. Desarrollador Ror/.Net Co-fundador
            %div.text.back
              Carlos es un apasionado del buen c&oacute;digo. <br> No descansa hasta encontrar la mejor soluci&oacute;n a un problema.<br> Le encanta hacer skate y un buen videojuego.
              %p <br>
              %hr
              %div.social
                = link_to "", "https://github.com/guzmanweb", class: "fa fa-github-alt fa-2x", target: :blank
                = link_to "", "https://twitter.com/carlosguzmanweb", class: "fa fa-twitter fa-2x", target: :blank
                = link_to "", "https://es.linkedin.com/in/carlosguzmanweb", class: "fa fa-linkedin fa-2x", target: :blank
              %hr
              %span.flaticon-horror5.hide-for-small-only
              %strong Carlos Guzm&aacute;n<br>
              %i Ingeniero de software. Desarrollador Ror/.Net<br> Co-fundador
               
        .small-12.medium-3.columns.flip-container
          %div.flipper  
            %div.sebastia.front
              %div
                = image_tag "sebastia.jpg"
                %span.flaticon-monsters4.hide-for-small-only
              %strong Sebasti&#xE0; Roig
              %i Ingeniero de software. Desarrollador Ror/Java. Co-fundador
            %div.text.back
              Valora su tiempo como ninguno, le apasionan las metodolog&iacute;as &aacute;giles y las buenas pr&aacute;cticas en el desarrollo del software.<br> No deja escapar la oportunidad de una buena barbacoa
              %hr
              %div.social
                = link_to "", "https://github.com/taitus", class: "fa fa-github-alt fa-2x", target: :blank
                = link_to "", "https://twitter.com/sroig83", class: "fa fa-twitter fa-2x", target: :blank
              %hr
              %span.flaticon-monsters4.hide-for-small-only
              %strong Sebasti&#xE0; Roig<br>
              %i Ingeniero de software. Desarrollador Ror/Java.<br> Co-fundador
        .small-12.medium-3.columns.flip-container
          %div.flipper
            %div.senen.front
              %div
                = image_tag "senen.jpg"
                %span.flaticon-alien13.hide-for-small-only
              %strong Sen&eacute;n Rodero
              %i Ingeniero Inform&aacute;tico. Consultor y desarrollador Ror/Java/Php Co-fundador
            %div.text.back
              A Sen&eacute;n le gusta probar nuevas tecnológías y herramientas que nos puedan aportar mejoras competitivas. <br><br>En constante aprendizaje. <br>Desarrollador experto en Ror/Java/Php. <br>Surfero siempre est&aacute; atento a las buenas olas.
              %hr
              %div.social
                = link_to "", "https://github.com/Senen", class: "fa fa-github-alt fa-2x", target: :blank
                = link_to "", "https://twitter.com/senenrodero", class: "fa fa-twitter fa-2x", target: :blank
                = link_to "", "https://www.linkedin.com/in/senenrodero/", class: "fa fa-linkedin fa-2x", target: :blank
              %hr
              %span.flaticon-alien13.hide-for-small-only
              %strong Sen&eacute;n Rodero<br>
              %i Ingeniero Inform&aacute;tico. Consultor y Ror/Java/Php <br> Co-fundador
        .small-12.medium-3.text.columns.flip-container
          %div.flipper
            %div.alle.front
              %div
                = image_tag "alessandro.jpg"
                %span.flaticon-alien17.hide-for-small-only
              %strong Alessandro Cuoghi
              %i Dise&#xF1;ador, desarrollador de interfaces de usuario. Co-fundador
            %div.text.back
              Alessandro es la mente que da color y vida a las creaciones de Rock  Ror. Experimentado dise&#xF1;ador que le gusta ofrecer interficies de usuario bonitas, sencillas y usables.<br> Tambi&eacute;n le encanta hacer skate.
              %hr
              %div.social
                = link_to "", "https://github.com/agileontheweb", class: "fa fa-github-alt fa-2x", target: :blank
                = link_to "", "https://twitter.com/agileontheweb", class: "fa fa-twitter fa-2x", target: :blank
                = link_to "", "https://es.linkedin.com/in/alessandrocuoghi", class: "fa fa-linkedin fa-2x", target: :blank
              %hr
              %span.flaticon-alien17.hide-for-small-only
              %strong Alessandro Cuoghi<br>
              %i Dise&#xF1;ador, desarrollador de interfaces de usuario.<br> Co-fundador