%section.testimonials
  .row
    .medium-6.columns
      %h2
        = t'home_page.testimonials.title_html'

    .medium-6.columns

      %ul.testimonials-orbit{ "data-orbit" => "",
                              "data-options" => "slide_number:false; pause_on_hover:false; resume_on_mouseout:false;",
                               }
        %li.active
          = image_tag('testimonials/boatjump.jpg')
          .orbit-caption
            %strong
              = t'home_page.testimonials.title_boatjump_html'
            %p
              = t'home_page.testimonials.description_boatjump_html'
            = link_to t('home_page.testimonials.btn_goto_project'), eatbooking_path

        %li
          = image_tag("testimonials/boatjump.jpg")
          .orbit-caption
            %strong
              = t'home_page.testimonials.title_oasiscatamaran_html'
            %p
              = t'home_page.testimonials.description_oasiscatamaran_html'
            = link_to t('home_page.testimonials.btn_goto_project'), eatbooking_path

        %li
          = image_tag('testimonials/boatjump.jpg')
          .orbit-caption
            %strong
              = t'home_page.testimonials.title_taskscheduler_html'
            %p
              = t'home_page.testimonials.description_taskscheduler_html'
            = link_to t('home_page.testimonials.btn_goto_project'), eatbooking_path
