.page.boatjump
  .img-background.row
    .cont-introduction.medium-12.small-12.large-6
      %h1 <strong>Boat</strong>Jump
      %span Alquila un barco, mejor precio garantizado
      %hr
      %p Boatjump es un B2C para el alquiler de barcos online al mejor precio. En esta primera versión hemos construido una sólida aplicación web sobre la que Boatjump podrá crecer a medida que lo requiera.
      %hr
      = link_to '> www.boatjump.co.uk', 'http://www.boatjump.co.uk',  target: :blank
  .brand-design.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %div.text-center
        = inline_svg_tag "svg/boatjump-logo.svg"
      %p.text-center
        En Rock&Ror hemos replanteado el diseño original de la marca y de la aplicación a partir del bonito diseño original de Armando Ramos.
  .back-end.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center <strong>Back</strong> end
      .wrapperIpad.medium-10.medium-centered.large-10.columns
        = image_tag "boatjump/laptop.png"
      %hr
      .row
        .small-12.medium-6.large-6.columns
          %ul.text-center
            %li Gestión de barcos
            %li Gestión del árbol de localizaciones
            %li Gestión de los precios de los barcos por temporadas
            %li Geolocalización por dirección
            %li Subida de imágenes con marca de agua

        .small-12.medium-6.large-6.columns
          %ul.text-center
            %li Gestión de los contenidos dinámicos multi-idioma
            %li Gestión de los extras de los barcos
            %li Gestión de los características de los barcos
            %li Diseño optimizado para su uso en dispositivos moviles.

  .front-end.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center Front <strong>end</strong>
      .medium-12
        = image_tag "boatjump/boatjump-device.png", class: "img-play-ipad"
        %hr
        .small-center.medium-centered.columns
          %p 
            El nuevo FrontEnd de Boatjump se ha diseñado para la cómoda navegación de los usuarios en todo tipo de dispositivos, con lo nuevos colores de la marca. Hemos adaptado el diseño para tablets tanto con orientación vertical como con orientación horizontal y a todo tipo de teléfonos móviles y navegadores web.
  .tecnology.row
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h2.text-center <strong>Tecnología</strong> utilizada
      .row.text-center
        = inline_svg_tag "svg/icon-responsive.svg", class: 'text-center'
      .medium-centered.columns
        %p 
          RubyOnRails / PostgreSQL <br>
          Rspec (+ 500 specs, Code To Test Ratio: 2.5 ) <br>
          Bootstrap / Sass / Diseño responsive <br>
          Photoshop / Illustrator

  = render 'shared/contact_now'