#home.home
  = #render 'welcome/intro'
  = #render 'welcome/about'
  = #render 'welcome/webdings'
  = #render 'welcome/eatbooking'
  = render 'welcome/oasis'
  = render 'welcome/partecipation'
  = render 'welcome/how_we_works'
  = render 'welcome/contact_now'
  = render 'welcome/footer'
  
  / = render 'welcome/tecnology'
  / = render 'welcome/howworks'
  / = render 'welcome/portfolio'
  / = render 'welcome/team'
  / = render 'welcome/contact'
  / = render 'welcome/followus'