<div class="home">
  <%= render 'welcome/intro' %>
  <%= render 'welcome/tecnology' %>
  <%= render 'welcome/agile_developer' %>
  <%= render 'welcome/open_source' %>
  <%= render 'welcome/team' %>
  <%= render 'welcome/works' %>
  <%= render 'welcome/testimonials' %>
  <%= render 'welcome/contact' %>
</div>
