<div class="home" id="home">
  <%= render 'welcome/intro' %>
  <%= render 'welcome/about' %>
  <%= render 'welcome/tecnology' %>
  <%= render 'welcome/contactnow' %>
  <%= render 'welcome/portfolio' %>
  <%= render 'welcome/team' %>
  <%= render 'welcome/contact' %>
</div>