#home.home
  = render 'welcome/intro'
  = render 'welcome/newssocial'
  = render 'welcome/about'
  = render 'welcome/tecnology'
  = render 'welcome/howworks'
  = render 'welcome/services'
  = render 'welcome/portfolio'
  = render 'welcome/team'
