#home.home
  = render 'welcome/intro'
  = render 'welcome/rockandror'
  = render 'welcome/webdings'
  = render 'welcome/eatbooking'
  = render 'welcome/oasis'
  = render 'welcome/participation'
  = render 'welcome/how_we_work'
  = render 'shared/contact_now'