.oasiscatamaranspage
  .img-background.row
  .cont-introduction.medium-12.small-12.large-6
    %h2 <strong>Oasis</strong>catamaran
    %span Excursiones y Eventos
    %hr
    %p
      Aplicación web para la venta de excursiones en catamarán con todo tipo de servicios adicionales. Hemos desarrollado un backend con navegación optimizada para tablets a través del cual los administradores de la empresa pueden modificar todos los contenidos, crear excursiones personalizadas y una página de venta de pasajes con pasarela de pago, todo en tres idiomas y compatible con todo tipo de dispositivos móviles.
    %hr
    = link_to '> www.oasiscatamaran.com', 'http://www.oasiscatamaran.com/', target: :blank
  .back-end.row
    .content.medium-12.small-12.large-10.columns.medium-centered
      %h2.text-center <strong>Back</strong> end
      .videoWrapperIpad.medium-12
        /= video_player("video-ipad", "videos-new/ipad", "wedding-page/poster-ipad.jpg")
        = image_tag "oasis-catamaran/ipad.png", class: "img-play-ipad"
        %hr.hr-oasis
        .row
          .large-4.columns
            %ul.text-center
              %li Gestor de contenidos multi-idoma
              %li Integración RedSys
              %li Gestor multibarco
          .large-4.columns
            %ul.text-center
              %li Gestor multibarco
              %li Gestor de reservas
              %li Gestor de agentes comerciales
          .large-4.columns
            %ul.text-center
              %li Configuración adaptable
              %li Diseño adaptable a dispositivos móviles
        %hr.hr-oasis 
          
  .front-end.row
    .content.medium-12.small-12.large-10.columns.medium-centered
      %h2.text-center <strong>Front</strong> end
      .medium-12
        /= video_player("video-ipad", "videos-new/ipad", "wedding-page/poster-ipad.jpg")
        = image_tag "oasis-catamaran/oasis-device.png", class: "img-play-ipad"
        %hr
        .medium-centered.columns
          %p 
            La página de venta es totalmente dinámica, configurable y posicionable desde el BackOffice. Se ha otimizado la navegación para dispositivos móviles y se ha diseñado acorde a la imagen coorporativa de la marca. Se ha realizado una integración con RedSys para la venta de tickets online.

  .tecnology.row
    .content.medium-centered.columns.small-12
      %h2.text-center <strong>Tecnologia</strong> utilizada
      .row.text-center
        = inline_svg "svg/icon-responsive.svg", class: 'text-center'
      .medium-centered.columns
        %p 
          RubyonRails / PostgreSQL / Rspec <br>
          Bootstrap / Sass / Responsive <br>
          Photoshop / Illustrator

  = render 'shared/contact_now'