.webdingspage
  = link_to '', '#scroll_to_brand_webdings', class:"arrow bounce"
  .img-background.row
  .cont-introduction.medium-12.small-12.large-6
    %h2 <strong>Web</strong>dings
    %span Crea la app y la web de tu boda
    %hr
    %p
      Webdings se ha desarrollado como un proyecto de formación interna, es un SaaS que tiene como objetivo permitir a los usuarios crear de forma muy sencilla una web y una aplicación móvil para su boda. Esta formado por un backend a través del cual los novios pueden definir los contenidos y módulos que desean publicar, una API para interactuar con aplicaciones móviles, una web y una app autogeneradas a través de la información y configuración introducidas en el backend.

    %hr
    = link_to '> www.webdings.es', 'http://www.webdings.es', target: :blank
  .brand-design.row#scroll_to_brand_webdings
    .content.medium-12.small-12.large-6.columns.medium-centered
      %h2.text-center <strong>Imagen </strong> corporativa
      %div.text-center
        = inline_svg "svg/webdings-logo.svg"
      %p 
        El diseño de la marca y de la plataforma ha sido realizado integramente por Rock&Ror buscando la mayor simplicidad en diseño y usabilidad web.
  .back-end.row
    .content.medium-12.small-12.large-10.columns.medium-centered
      %h2.text-center <strong>Back</strong> end
      .videoWrapperIpad.medium-10.medium-centered.large-10.large-centered.columns
        = image_tag "webdings/ipad-2.png", class: "img-play-ipad"
        %hr
        .row
          .large-6.columns
            %ul.text-center
              %li Envia invitaciones por email
              %li Define el menú de la boda
              %li Organiza a los invitados por mesas
              %li Crea una galería de imágenes colaborativa
              %li Define los puntos de interés del evento

          .large-6.columns
            %ul.text-center
              %li Configuración adaptable
              %li Diseño personalizable
              %li Solicita confirmación de asistencia a tus invitados
              %li Ofrece servicio de transporte a tus invitados
              %li Diseño optimizado para su uso en tablets
        %hr
        %p 
          El Backend es la parte donde los novios pueden gestionar los invitados de la boda, seleccionar los módulos que se desean publicar así como definir los contenidos de la web y la aplicación móvil.

  .front-end.row
    .content.medium-12.small-12.large-10.columns.medium-centered
      %h2.text-center Página web <strong>autogenerada</strong>
      .medium-12
        = image_tag "webdings/device-commercial.jpg", class: "img-play-ipad"
        %hr
        .medium-centered.columns
          %p 
            La página de la boda se genera automáticamente a partir de los contenidos definidos en el backend y dispone de diseño adaptado para la navegación con todos tipo de dispositivos móviles, tanto tablets como móviles. La página web de la boda puede ser de acceso privado o de acceso público, según deseen los novios.

  .app-mobile.row
    .content.medium-12.small-12.large-10.columns.medium-centered
      %h2.text-center <strong>Aplicación</strong> móvil
      .videoWrapperIphone.medium-12.text-center
        = image_tag "webdings/iphone_appmenu-open.png", class: "img-play-ipad"
        %hr
      .medium-centered.columns
        %p 
          Con el objetivo de conseguir una mayor interacción con los invitados hemos creado una aplicación móvil disponible tanto para dispositivos móviles Android como iOS. La aplicación permite a los invitados tener toda la información de la boda comodamente accesible a través de la app y dispone de algunas funcionalidades que no se pueden realizar a través de la web.

  .tecnology.row
    .content.medium-centered.columns.small-12
      %h2.text-center <strong>Tecnología</strong> utilizada
      .row.text-center
        = inline_svg "svg/icon-responsive.svg", class: 'text-center'
      .medium-centered.columns
        %p 
          RubyOnRails / PostgreSQL / Rspec (+ 300 specs ) <br>
          Bootstrap / Sass / Diseño responsive <br>
          API / Ionic <br>
          Photoshop / Illustrator

  = render 'shared/contact_now'