<section class="page agile-development">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.agile_developer.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <h2 class="text-center">
      <%= t'pages.agile_developer.h2_1_title' %>
    </h2>
    <br />
    <div class="row">
      <%= image_tag "svg/home-agile-develompent.svg", class: 'col-md-6 col-md-offset-3 img-responsive' %>
    </div>
    <h2><%= t'pages.agile_developer.h2_2_title' %></h2>
    <p>
      <%= t'pages.agile_developer.description_html' %>
    </p>
    <br />
    <ul>
      <li class="analysis">
        <strong><%= t'pages.agile_developer.analysis_title' %></strong>
        <p>
          <%= t'pages.agile_developer.analysis_description_html' %>
        </p>
      </li>
      <li class="design">
        <strong><%= t'pages.agile_developer.design_title' %></strong>
        <p>
          <%= t'pages.agile_developer.analysis_description_html' %>
        </p>
      </li>
      <li class="implementation">
        <strong><%= t'pages.agile_developer.implementation_title' %></strong>
        <p>
          <%= t'pages.agile_developer.implementation_description_html' %>
        </p>
      </li>
      <li class="test">
        <strong><%= t'pages.agile_developer.test_title' %></strong>
        <p>
          <%= t'pages.agile_developer.test_description_html' %>
        </p>
      </li>
      <li class="acceptance">
        <strong><%= t'pages.agile_developer.acceptance_title' %></strong>
        <p>
          <%= t'pages.agile_developer.acceptance_description_html' %>
        </p>
      </li>
      <li class="launching">
        <strong><%= t'pages.agile_developer.launching_title' %></strong>
        <p>
          <%= t'pages.agile_developer.launching_description_html' %>
        </p>
      </li>
    </ul>
  </div>
</section>

<%= render 'shared/contact_now' %>
