<section class="page best-tools">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.tecnology.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br />
      <div class="row">
        <%= image_tag "svg/home-tecnology.svg", class: 'col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 img-responsive' %>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <br />
    <h2>
      <%= t'pages.tecnology.h2_1_title' %>
    </h2>
    <p>
      <%= t'pages.tecnology.description_html' %>
    </p>
    <hr />
    <h2>
      <%= t'pages.tecnology.h2_2_title' %>
    </h2>
    <p>
      <%= t'pages.tecnology.description_2_html' %>
    </p>
    <hr />
    <h2>
      <%= t'pages.tecnology.h2_3_title' %>
    </h2>
    <p>
      <%= t'pages.tecnology.description_3_html' %>
    </p>
  </div>
</section>

<%= render 'shared/contact_now' %>
