<% title t'pages.works.boatjump.meta.title' %>
<% meta_tag :description, t('pages.works.boatjump.meta.description') %>
<% meta_tag :keywords, t('pages.works.boatjump.meta.keywords') %>

<section class="page boatjump">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.works.boatjump.h1_title_html' %>
      </h1>
      <lead>Startup<%#= t'pages.works.boatjump.lead' %></lead>

      <%= render 'shared/logo_rails' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <div class="row">
        <div class="col-md-3">
          <%= inline_svg "svg/boatjump-logo.svg", class: 'logo' %>
        </div>
        <div class="col-md-9">
          <p>
            <%= t'pages.works.boatjump.general_description_html' %>
          </p>
          <%= link_to 'Visita Boatjump', 'https://www.boatjump.com', class:'btn btn-lg btn-primary', target: 'blank' %>
        </div>
      </div>
      <hr />
      <br />
      <h2>Seleccionado por el programa de Lanzadera </h2>
      <p>
        Este proyecto ha sido seleccionado por el <%= link_to 'programa de Lanzadera', 'https://lanzadera.es' %> (una de las más importantes aceleradoras de startups de España) como uno de los proyectos con proyección para la convocatoria del año 2016.
        <br />
         A lo largo de este 2017 ya casi han triplicado el número de clientes. <%= link_to 'Fuente: lavanguardia.com', 'http://www.lavanguardia.com/local/sevilla/20170913/431263868124/boatjump-fundada-por-el-cordobes-alfonso-pastrana-cierra-su-primera-ronda-de-financiacion-de-500000-euros.html' %>
      </p>
      <br />
        <%= image_tag "boatjump/lanzadera.jpg", class: 'img-responsive' %>
      <br />
      <h2>El desafío</h2>
      <p>
        Nuestar mision desde el principio ha sido replantear un diseño UX/UI, Internacionalizar en 5 idiomas,
        Acelerar la web a pesar de la gran cantidad de datos y trafico,
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <h2>El comienzo</h2>
      <p>
        En la primera reunión con el CEO Jaima Vara el CFO Alfonso Pastrana el CMO Pablo Ruibal,
        hemos escuchado cual eran las problematicas a nivel tecnológico de la empresa y definido un primer plan de acción
        seguiendo como siempre la metodologia MVP y el <%= link_to 'desarrollo Agile', agile_development_path %> para mantener
        la web activa y no ariesgar de perder en ningun momento el trafico que ya existia.
        Hemos dividido en hitos por meses el gran trabajo que habia que hacer, empezando con un plan de 6 meses y definiendo
        mes por mes las tareas dependiendo de las funcionalidad más importante para la empresa llegando asi a casi 3 años de desarrollo
        para nuestro cliente estrella Boatjump.
      </p>
      <hr />
      <h2>Servicios ofrecido</h2>
      <ul>
        <li>
          <p>
            Diseño de usabilidad empezando de un template ya preexistente
          </p>
        </li>
        <li>
          <p>
            Mock-up de las nueva pantallas no existente
          </p>
        </li>
        <li>
          <p>
            Nueva arquitectura de la aplicacion
          </p>
        </li>
        <li>
          <p>
            Desarrollo Front-end
          </p>
        </li>
        <li>
          <p>
            Desarrollo Back-end
          </p>
        </li>
        <li>
          <p>
            Desarrollo Responsive
          </p>
        </li>
        <li>
          <p>
            Gestión de los contenidos dinámicos multi-idioma
          </p>
        </li>
        <li>
          <p>
            Gestión de los precios de los barcos por temporadas
          </p>
        </li>
        <li>
          <p>
            Geolocalización por dirección
          </p>
        </li>
        <li>
          <p>
            Integracion Amazon
          </p>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 accounting bg-grey-light">
        <div class="col-xs-4 col-md-4 text-center">
          <span class="glyphicon glyphicon-grain gi-2x"></span>
          <br />
          <br />
          <span class="text-uppercase">Tiempo de entrega:</span>
          <br />
          <br />
          <strong>Cada Semana</strong>
        </div>
        <div class="col-xs-4 col-md-4 text-center">
          <span class="glyphicon glyphicon glyphicon-time gi-2x"></span>
          <br />
          <br />
          <span class="text-uppercase">Horas trabajadas</span>
          <br />
          <br />
          <strong>9833</strong>
        </div>
        <div class="col-xs-4 col-md-4 text-center">
          <span class="glyphicon glyphicon glyphicon-euro gi-2x"></span>
          <br />
          <br />
          <span class="text-uppercase">Budget</span>
          <br />
          <br />
          <strong>Medio/Alto</strong>
        </div>

      </div>

    <div class="col-xs-10 col-xs-offset-1">
      <h2>Front-End</h2>
      <p>
        El nuevo FrontEnd de Boatjump se ha diseñado siguiendo un template
        preexistente sobre la recomendación del cliente con lo nuevos colores de
        la marca imagenes, typografia y creando nuevas pantallas que no existian,
        manteniendo el mismo estilo recomendato por Boatjump. Por fin hemos
        adaptado el template Html y Css en Rails y convertido todo en Sass,
        Coffescript y Bootstrap.
      </p>
      <div class="col-md-6 col-md-offset-3">
        <%= image_tag "boatjump/front-end-home-desktop-animate.gif" %>
      </div>


      <div id="galleryFrontEnd" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#galleryFrontEnd" data-slide-to="0" class="active"></li>
          <li data-target="#galleryFrontEnd" data-slide-to="1"></li>
          <li data-target="#galleryFrontEnd" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "boatjump/front-end-home.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/front-end-list-boats.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/front-end-show-boats.jpg" %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#galleryFrontEnd" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#galleryFrontEnd" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <br />
      <h2>Responsive </h2>
      <p>
        Después una primera version Desktop, hemos desarrollado una interfaz que
        se adpata a todos los dispositivos móviles  añadiendo una mejora en la
        navigacion para el usuario.
        El diseño para tablets tanto con orientación vertical como con orientación
        horizontal y a todo tipo de teléfonos móviles y navegadores web.
      </p>
      <div id="galleryFrontEndResponsive" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#galleryFrontEndResponsive" data-slide-to="0" class="active"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="1"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="2"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="3"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="4"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="5"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "boatjump/responsive-front-end-home.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-list-boats.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-show-boats.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-ipad-team.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-ipad-how-to-works.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-all-device.jpg" %>
          </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#galleryFrontEndResponsive" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#galleryFrontEndResponsive" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <br />
      <h2>Back-End</h2>
      <p>
        El nuevo FrontEnd de Boatjump se ha diseñado para la cómoda navegación de los usuarios en todo tipo de dispositivos, con lo nuevos colores de la marca. Hemos adaptado el diseño para tablets tanto con orientación vertical como con orientación horizontal y a todo tipo de teléfonos móviles y navegadores web.
      </p>
      <div id="galleryBackend" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#galleryBackend" data-slide-to="0" class="active"></li>
          <li data-target="#galleryBackend" data-slide-to="1"></li>
          <li data-target="#galleryBackend" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "boatjump/lanzadera.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/lanzadera.jpg" %>
          </div>

          <div class="item">
            <%= image_tag "boatjump/lanzadera.jpg" %>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#galleryBackend" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#galleryBackend" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br />
      <h2><%= t'pages.works.boatjump.h2_tecnology_html' %></h2>
      <p>
        <%= t'pages.works.boatjump.tecnology_html' %>
      </p>

      <hr />
      <h2>Que dice el cliente</h2>
      <p>
        Lorem ipsum
      </p>
    </div>
  </div>
</section>

<%= render 'shared/contact_now' %>
