<% title t'pages.works.boatjump.meta.title' %>
<% meta_tag :description, t('pages.works.boatjump.meta.description') %>
<% meta_tag :keywords, t('pages.works.boatjump.meta.keywords') %>

<section class="page boatjump">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.works.boatjump.h1_title_html' %>
      </h1>
      <lead><%= t'pages.works.boatjump.lead' %></lead>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-md-3">
          <%= inline_svg "svg/boatjump-logo.svg", class: 'logo' %>
        </div>
        <div class="col-md-9">
          <p>
            <%= t'pages.works.boatjump.general_description_html' %>
          </p>
          <%= link_to 'Visita Boatjump', 'https://www.boatjump.com', class:'btn btn-lg btn-primary', target: 'blank' %>
        </div>
      </div>
      <hr />
      <br />
      <h2><%= t'pages.works.boatjump.h2_1_html' %></h2>
      <p><%= t'pages.works.boatjump.description_1_html' %></p>
      <br />
      <%= image_tag "boatjump/lanzadera.jpg", class: 'img-responsive' %>
      <br />
      <h2><%= t'pages.works.boatjump.h2_2_html' %></h2>
      <p><%= t'pages.works.boatjump.description_2_html' %></p>
      <h2><%= t'pages.works.boatjump.h2_3_html' %></h2>
      <p><%= t'pages.works.boatjump.description_3_html' %></p>
      <hr />
      <h2><%= t'pages.works.boatjump.h2_4_html' %></h2>
      <ul class="no-padding-left">
        <%= t'pages.works.boatjump.list_4_html' %>
      </ul>
    </div>
  </div>

  <div class="row accounting bg-grey-light">
    <div class="container">
      <div class="col-xs-12">
      <div class="col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon-grain gi-2x"></span>
        <br />
        <br />
        <span class="text-uppercase">Tiempo de entrega:</span>
        <br />
        <br />
        <strong>Cada Semana</strong>
        <hr class="visible-xs">
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon glyphicon-time gi-2x"></span>
        <br />
        <br />
        <span class="text-uppercase">Horas trabajadas</span>
        <br />
        <br />
        <strong>9833</strong>
        <hr class="visible-xs">
      </div>
      <div class="col-xs-12 col-sm-4 text-center">
        <span class="glyphicon glyphicon glyphicon-euro gi-2x"></span>
        <br />
        <br />
        <span class="text-uppercase">Budget</span>
        <br />
        <br />
        <strong>Medio/Alto</strong>
      </div>
    </div>
  </div>

  <div class="row video-section">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.works.boatjump.h2_5_html' %></h2>
      <p><%= t'pages.works.boatjump.description_5_html' %></p>
      <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 hidden-xs">
        <%= video_tag "boatjump-frontend.mp4", :controls => true, :autoplay => true, :loop => true %>
      </div>
    </div>
  </div>

  <div class="row responsive">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <br />
      <h2><%= t'pages.works.boatjump.h2_6_html' %></h2>
      <p><%= t'pages.works.boatjump.description_6_html' %></p>
      <div id="galleryFrontEndResponsive" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#galleryFrontEndResponsive" data-slide-to="0" class="active"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="1"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="2"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="3"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="4"></li>
          <li data-target="#galleryFrontEndResponsive" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "boatjump/responsive-front-end-home.jpg" %>
          </div>
          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-list-boats.jpg" %>
          </div>
          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-show-boats.jpg" %>
          </div>
          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-ipad-team.jpg" %>
          </div>
          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-ipad-how-to-works.jpg" %>
          </div>
          <div class="item">
            <%= image_tag "boatjump/responsive-front-end-all-device.jpg" %>
          </div>
        </div>
        <a class="left carousel-control" href="#galleryFrontEndResponsive" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#galleryFrontEndResponsive" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br />
    </div>
  </div>

  <div class="row back-end">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.works.boatjump.h2_7_html' %></h2>
      <p><%= t'pages.works.boatjump.description_7_html' %></p>
      <%= image_tag "boatjump/laptop.png", class: 'img-responisve' %>
      <br />
    </div>
  </div>

  <div class="row tecnology">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.works.boatjump.h2_tecnology_html' %></h2>
      <p><%= t'pages.works.boatjump.tecnology_html' %></p>
    </div>
  </div>

  <div class="row customer">
    <div class="container">
      <br />
      <h2 class="text-center">
        <%= t'pages.works.boatjump.h2_customer_html' %>
      </h2>
      <%= image_tag('testimonials/boatjump.jpg', class: 'img-responsive img-circle') %>
      <p class="text-center">
        <small>CEO: Jaime Vara</small>
      </p>
      <div class="col-md-8 col-md-offset-2">
        <p>
          <%= t'pages.works.boatjump.customer_description_html' %>
        </p>
        <br />
      </div>

    </div>
  </div>
</section>

<%= render 'shared/contact_now' %>
