<% title t'pages.development_mallorca.meta.title' %>
<% meta_tag :description, t('pages.development_mallorca.meta.description') %>
<% meta_tag :keywords, t('pages.development_mallorca.meta.keywords') %>

<section class="page development-mallorca">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.development_mallorca.h1_title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br />
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 cont-introduction text-center">
    <blockquote class="curly-quotes">
      <%= t'pages.development_mallorca.quote_1_html' %>
    </blockquote>
    <%= image_tag "desarrollo-web-palma/desarrolloweb.jpg", :alt => "Desarrollo web Palma de Mallorca", :title => "Desarrollo web Palma de Mallorca", class: 'img-responsive center-block' %>
  </div>
  <br>

  <div>
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 content">
      <p class='text-center'>
        <%= t'pages.development_mallorca.description_1_html' %>
      </p>
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2 text-center">
      <hr />
      <h3>
        <%= t'pages.development_mallorca.h3_1_html' %>
      </h3>
      <br />
      <%= link_to new_contact_path, class: "btn btn-option btn-lg" do %>
        <%= t'common.btn_option_contact_html' %>
      <% end %>
      <hr />
    </div>

    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2>
        <%= t'pages.development_mallorca.h2_1_html' %>
      </h2>
      <p>
        <%= t'pages.development_mallorca.description_2_html' %>
      </p>
      <ul class="no-padding-left">
        <%= t'pages.development_mallorca.list_1_html' %>
      </ul>
      <hr />
      <h3>
        <%= t'pages.development_mallorca.h3_2_html' %>
      </h3>
      <hr />
      <h2>
        <%= t'pages.development_mallorca.h2_2_html' %>
      </h2>
      <p>
        <%= t'pages.development_mallorca.description_3_html' %>
      </p>
      <hr>
      <blockquote class="curly-quotes text-center">
        <%= t'pages.development_mallorca.quote_2_html' %>
      </blockquote>
      <hr>
      <h2>
        <%= t'pages.development_mallorca.h2_2_html' %>
      </h2>
      <p>
        <%= t'pages.development_mallorca.description_4_html' %>
      </p>
      <hr>
      <blockquote class="curly-quotes text-center">
        <%= t'pages.development_mallorca.quote_3_html' %>
      </blockquote>
      <hr>
      <h2>
        <%= t'pages.development_mallorca.h2_3_html' %>
      </h2>
      <p>
        <%= t'pages.development_mallorca.description_5_html' %>
      </p>
    </div>
  </div>
</section>
<%= render 'shared/contact_now' %>
