<% title t'pages.development_mallorca.meta.title' %>
<% meta_tag :description, t('pages.development_mallorca.meta.description') %>
<% meta_tag :keywords, t('pages.development_mallorca.meta.keywords') %>

<section class="page seopage">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        Desarrollo web en <strong>palma de Mallorca</strong>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br />
    </div>
  </div>

  <div class='col-xs-10 col-xs-offset-1 cont-introduction text-center'>
    <blockquote class='curly-quotes'>
      Es fácil tener ideas de negocio. Lo más complicado es aplicarlas en el
      mundo real – Guy Kawasaki
    </blockquote>
    <figure>
      <%= image_tag "desarrollo-web-palma/desarrolloweb.jpg", :alt => "Desarrollo web Palma de Mallorca", :title => "Desarrollo web Palma de Mallorca", class: 'img-responsive' %>
    </figure>
  </div>
  <br>

  <div>
    <div class='col-xs-10 col-xs-offset-1 content'>
      <p class='text-center'>
        Si quieres <%= link_to 'lanzar tu Startup', startup_path, title: 'lanzar tu Startup' %>
        o Negocio con metodología Agile y MVP, RockAndRor puede ser lo que estas
        buscando, un equipo de <strong>desarrollo web en palma de Mallorca</strong>
        centrado solo en el desarrollo de software a medida.  Nos gusta trabajar
        con las últimas herramientas de desarrollo <strong>para obtener el mejor
          producto adaptado a las necesidades del cliente.
        </strong>.
      </p>
    </div>

    <div class='col-xs-10 col-xs-offset-1 text-center'>
      <hr />
      <h3>Con tal de obtener el mayor valor posible con
        el mínimo esfuerzo seguimos fielmente los principios del desarrollo
        agile.
      </h3>
      <br />
      <%= link_to new_contact_path, class: "btn btn-primary btn-lg" do %>
        Solicita tu
        <br class="visible-xs">
        consultoría
        <br class="visible-xs">
        gratuita
      <% end %>
      <hr />
    </div>



    <div class='col-xs-10 col-xs-offset-1'>
      <h2>
        <strong>Como trabajamos</strong>
      </h2>
      <p>Realizamos un desarrollo por versiones incremental, ciclos de 2 a 8
        semanas, entregando al final de cada uno de estos ciclos código totalmente
        funcional. Los pasos que seguimos para cada iteración son:
      </p>
      <ul class='cycles'>
        <li>
          <strong>Análisis:</strong>
          <p>Planteamiento de nuevas funcionalidades, proposición de soluciones y planificación de objetivos.</p>
        </li>
        <li>
          <strong>Diseño:</strong>
          <p>Realización de maquetas (mockups), identificar riesgos, anticipar problemas y preparar alternativas.</p>
        </li>
        <li>
          <strong>Implementación:</strong>
          <p>Desarrollo de las funcionalidades, pruebas unitarias y de integración.</p>
        </li>
        <li>
          <strong>Pruebas:</strong>
          <p>Lorem ipsum</p>
        </li>
        <li>
          <strong>Aceptación:</strong>
          <p>Previsión de las nuevas funcionalidades, ajustes y correcciones necesarias.</p>
        </li>
        <li>
          <strong>Lanzamiento:</strong>
        </li>
        <p>Instalación en producción y feedback de los usuarios.</p>
        <p>Si estas montando por tu primera vez un negocio online, en este artículo  intentamos explicar sobre que base partir a la hora de empezar a desarrollar tu proyecto web de la forma mejor.</p>
      </ul>
      <h2>
        <strong>CMS VS Desarrollo a medida</strong>
      </h2>
      <p>
        Wordpress, Joomla, Drupal en el mundo de la informática vengon llamados CMS que es el acrónimo de Content Management System o en español sistema de administración de contenidos, son muy simple en el utilizo, con un par de clics tendremos una estructura de pagina web ya echa, incluido da base de datos para almánzar los datos, los archivo que cualquier programador puede modificar, y actualizaciones continua de parte del Cms mismo.
        Esta es la forma más rápida para crear una web dependiendo de la complejidad de los contenidos.
        Estos se utilizan principalmente cuando queremos crear un Blog, o algo que no requiere funcionalidad a medida.
      </p>
      <strong>Ventajas</strong>
      <p>
        La ventajas de tener un CMS es que cualquier persona sin demasiado conocimientos de diseño, programación, maquetacion, seo, pueda administrar los contenidos de su pagina web sin nigun tipo de desarrollo a medida.
        La segunda ventaja es que estos CMS tienen una grandes comunidades a nivel de soporte y de desarrolladores, con pocas consultas en un foro o simplemente con búsqueda en google podrás encontrar cualquier tipo de funcionalidad / modulo, componentes, plantillas etc..
      </p>
      <strong>Desventajas</strong>
      <p>
        En primer lugar no obstante la continua acutualizaciones del Cms los problemas de seguridad siempre están atrás de la esquina.
        Aunque este Cms tenga bastante flexibilidad no podemos hacer todos como estamos pendientes de la estructura del cms, <strong>todo lo contrario si hacemos un desarrollo a medida</strong>.
        Otro punto de desventaja es que al instalar el cms vienen incorporados unos cuantos componentes que hacen que todo vaya mas despacio, esto comporta la optimizacion de la web para que el código sea menos pesado.
        El código es los mas importante en una web, tener código sucio afecta al posicionamiento y a la carga de la web.
      </p>
      <hr>
      <blockquote class='curly-quotes'>La mayoría de software de hoy en día es muy parecido a una pirámide egipcia, con millones de ladrillos puestos unos encima de otros, sin una estructura integral, hecha por la fuerza bruta y miles de esclavos. - Alan Kay</blockquote>
      <hr>
      <h2>
        <strong>Desarrollo a medida</strong>
      </h2>
      <p>
        El <strong>desarrollo web a medida</strong> en primer lugar no lo puede hacer cualquiera proprio como si fuera un Wordpress que con el comprar un hosting y al instalar el Cms ya lo tienes funcionando. El desarrollo web a medida puede solo estar hecho de un equipo de profesionales con años de experencia y obsesionados de codigo limpio y optimizado hasta la funcionalidad mas pequeña, <span class="underline"> solo de esta forma se puede tener un negocio digital escalable y optimizado.</span>
        <br>
        Los Framework pueden estár hechos con diferente lenguaje y permiten de incluir librerías, modelos, funciones algo como los Plugins de un Cms solo más complicado de montar en sus estructura. Algunos de estos lenguaje son Php, Javascript, Python, ROR, este ultimo es el acrónimo de Ruby on Rails que es la tecnología que utiliza RockandRor para el <strong>desarrollo web</strong>.
      </p>
      <strong>Ventajas</strong>
      <p>
        Al desarrollar un proyecto web con un framework te encontraras con ventaja como adaptabilidad, flexibilidad y por fin escalabilidad.
        Este tipo de desarrollo web a medida conjunto con la metodología MVP hace que tu proyecto salga en un fin de semana a un precio “relativamente” bajo con la funcionalidad que realmente necesitas tu negocio pudiendo a lo largo del tiempo ampliar el proyecto según las nueva necesidades.
      </p>
      <p>
        <strong>Algunos caso de exito hecho en Ruby on Rails.</strong>
        <ul>
          <li>Airbnb</li>
          <li>Couchsurfing</li>
          <li>Shopify</li>
          <li>BaseCamp</li>
          <li>ThemeForest</li>
          <li>Fiverr</li>
          <li>Github</li>
          <li>Hulu</li>
          <li>Indiegogo</li>
          <li>KickStarter</li>
          <li>Square</li>
          <li>Shopify</li>
          <li>Pixlr</li>
          <li>Zendesk</li>
          <li>500px</li>
        </ul>
      </p>
      <strong>Desventajas</strong>
      <p>
        El desarrollo web a medida solitamente es mas caro.
      </p>
      <hr>
      <blockquote class='curly-quotes'>
        Si los anunciantes se gastaran la misma cantidad de dinero en mejorar
        sus productos de lo que se gastan en anunciarlos, ni siquiera necesitarían
        anunciarlos. - Will Rogers</blockquote>
      <hr>
      <h2>
        <strong>Conclusión</strong>
      </h2>
      <p>
        Para decidir cual es la opción mejor para tu negocio solo hay que tener
        en cuenta los  factores clave: <strong>Tiempo, Dinero, Escabilidad</strong>.
        Si estas buscando un proyecto que se basa su unas cuantas funcionalidad
        clásica, como la pagina di quien somos o de contacto o añadir productos que
        no necesitan de complejidad particular y tener una parte de backend para
        que un administrador pueda manejar la web, entonces el CMS puede ser tu
        mejor opción de momento que hoy en día ya existen funcionalidad ya echa y
        si no la tienen buscar alguien que sepa del Cms en cuestion puede implementar
        la funcionalidad que falta gracias a una gran comunidad de soporte.
        <br>
        De mientras si tu proyecto no es muy claro o es muy complejo "como la mayoría
        de los proyectos", lo mejor es empezar por etapas también cuando tienes una
        idea muy clara porque en fase de desarrollo el foco por cada funcionalidad
        va cogiendo detalles, es como ver lo que ya tuvimos muy claro con una lupa,
        y de repente nos daremos cuenta que la funcionalidad que nos pareciba muy
        clara necesitas mas analisis y gracias a un desarrollo web a medida es la
        elección perfecta.
        <br>
        Si estas listo para lanzar tu proyecto pequeño o grande que sea y estas buscando
        un equipo de <strong>desarrollo web en Palma de Mallorca</strong> haz click
        en el botón	aquí abajo y la primera consulta es gratis.
      </p>
    </div>
  </div>
</section>
<%= render 'shared/contact_now' %>
