<% title t'pages.works.oasiscatamaran.meta.title' %>
<% meta_tag :description, t('pages.works.oasiscatamaran.meta.description') %>
<% meta_tag :keywords, t('pages.works.oasiscatamaran.meta.keywords') %>

<section class="page oasiscatamaran">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.works.oasiscatamaran.h1_title_html' %>
      </h1>
      <lead><%= t'pages.works.oasiscatamaran.lead' %></lead>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-md-3">
          <%= inline_svg "svg/oasiscatamaran-logo.svg", class: 'logo' %>
        </div>
        <div class="col-md-9">
          <p>
            <%= t'pages.works.oasiscatamaran.general_description_html' %>
          </p>
          <%= link_to 'Visita OasisCatamaran', 'http://www.oasiscatamaran.com', class:'btn btn-lg btn-primary', target: 'blank' %>
        </div>
      </div>
      <hr />
      <br />
      <h2><%= t'pages.works.oasiscatamaran.h2_1_html' %></h2>
      <p><%= t'pages.works.oasiscatamaran.description_1_html' %></p>
      <br />
      <%= image_tag "oasis-catamaran/cover-page-1.jpg", class: 'img-responsive' %>
      <br />
      <h2><%= t'pages.works.oasiscatamaran.h2_2_html' %></h2>
      <p><%= t'pages.works.oasiscatamaran.description_2_html' %></p>
      <hr />
      <h2><%= t'pages.works.oasiscatamaran.h2_3_html' %></h2>
      <ul class="no-padding-left">
        <%= t'pages.works.oasiscatamaran.list_3_html' %>
      </ul>
    </div>

    <div class="col-xs-12 accounting bg-grey-light">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="col-xs-12 col-sm-4 text-center">
          <span class="glyphicon glyphicon-grain gi-2x"></span>
          <br />
          <br />
          <span class="text-uppercase">Tiempo de entrega:</span>
          <br />
          <br />
          <strong>3 Mese</strong>
          <hr class="visible-xs">
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <span class="glyphicon glyphicon glyphicon-time gi-2x"></span>
          <br />
          <br />
          <span class="text-uppercase">Horas trabajadas</span>
          <br />
          <br />
          <strong>500</strong>
          <hr class="visible-xs">
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <span class="glyphicon glyphicon glyphicon-euro gi-2x"></span>
          <br />
          <br />
          <span class="text-uppercase">Budget</span>
          <br />
          <br />
          <strong>Medio</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="row responsive">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.works.oasiscatamaran.h2_4_html' %></h2>
      <p><%= t'pages.works.oasiscatamaran.description_4_html' %></p>
      <h2><%= t'pages.works.oasiscatamaran.h2_5_html' %></h2>
      <p><%= t'pages.works.oasiscatamaran.description_5_html' %></p>
      <%= image_tag "oasis-catamaran/oasis-device.png", class: 'img-responsive' %>
      <br />
    </div>
  </div>

  <div class="row back-end">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.works.oasiscatamaran.h2_6_html' %></h2>
      <p><%= t'pages.works.oasiscatamaran.description_6_html' %></p>
      <%= image_tag "oasis-catamaran/ipad.png", class: 'img-responisve' %>
      <br />
    </div>
  </div>

  <div class="row tecnology">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.works.oasiscatamaran.h2_tecnology_html' %></h2>
      <p><%= t'pages.works.oasiscatamaran.tecnology_html' %></p>
    </div>
  </div>

  <div class="row customer">
    <div class="container">
      <br />
      <h2 class="text-center">
        <%= t'pages.works.oasiscatamaran.h2_customer_html' %>
      </h2>
      <%= image_tag('testimonials/vanessa-moreno.jpg', class: 'img-responsive img-circle') %>
      <p class="text-center">
        <small>CEO: Vanessa Moreno</small>
      </p>
      <div class="col-md-8 col-md-offset-2">
        <p>
          <%= t'pages.works.oasiscatamaran.customer_description_html' %>
        </p>
        <br />
      </div>

    </div>
  </div>
</section>

<%= render 'shared/contact_now' %>
