<% title t'pages.open_source.meta.title' %>
<% meta_tag :description, t('pages.open_source.meta.description') %>
<% meta_tag :keywords, t('pages.open_source.meta.keywords') %>

<section class="page open-source">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.open_source.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br/>
    </div>
    <div class="row">
      <%= image_tag "svg/home-open-source.svg", class: 'col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 img-responsive' %>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
    <h2>
      <%= t'pages.open_source.h2_1_title' %>
    </h2>
    <p>
      <%= t'pages.open_source.description_html' %>
    </p>
    <hr />
    <h2><%= t'pages.open_source.h2_2_title' %></h2>
    <%= t'pages.open_source.ul_li_html' %>

    <hr />
    <h2><%= t'pages.open_source.h2_3_title' %></h2>
    <br />
    <%= image_tag "logo-hackaton-madrid.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_hackaton_madrid_html' %>
    </p>
    <%= image_tag "photo-hackaton-madrid.png", class: 'img-responsive center-block' %>
    <hr />
    <%= image_tag "logo-redsys.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_redsys_html' %>
    </p>
    <hr />
    <%= image_tag "logo-many-redsys.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_manyredsys_html' %>
    </p>
    <hr />
    <%= image_tag "logo-consul.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_consul_html' %>
    </p>
  </div>
</section>

<%= render 'shared/contact_now' %>
