<section class="page open-source">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.open_source.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br/>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <h2>
      <%= t'pages.open_source.h2_1_title' %>
    </h2>
    <p>
      <%= t'pages.open_source.description_html' %>
    </p>
    <hr />
    <h2><%= t'pages.open_source.h2_2_title' %></h2>
    <%= t'pages.open_source.ul_li_html' %>

    <hr />
    <h2><%= t'pages.open_source.h2_3_title' %></h2>
    <br />
    <%= image_tag "logo-hackaton-madrid.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_hackaton_madrid_html' %>
    </p>
    <%= image_tag "photo-hackaton-madrid.png", class: 'img-responsive center-block' %>
    <hr />
    <%= image_tag "logo-redsys.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_redsys_html' %>
    </p>
    <hr />
    <%= image_tag "logo-many-redsys.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_manyredsys_html' %>
    </p>
    <hr />
    <%= image_tag "logo-consul.png", class: 'img-responsive' %>
    <br />
    <p>
      <%= t'pages.open_source.description_consul_html' %>
    </p>
  </div>
</section>

<%= render 'shared/contact_now' %>
