<section class="page open-source">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.open_source.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br/>
      <hr/>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <h2>
      <%= t'pages.open_source.h2_1_title' %>
    </h2>
    <p>
      <%= t'pages.open_source.description_html' %>
    </p>
    <h2><%= t'pages.open_source.h2_2_title' %></h2>
    <%= t'pages.open_source.ul_li_html' %>

  </div>
</section>

<%= render 'shared/contact_now' %>
