<section class="open-source">
  <div class="row-fluid columns">
    <div class="medium-10 medium-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.open_source.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br/>
      <hr/>
    </div>
    <div class="medium-10 medium-offset-1">
      <h2>
        <%= t'pages.open_source.h2_title' %>
      </h2>
      <p>
        <%= t'pages.open_source.description' %>
      </p>
    </div>
  </div>
</section>
