<%# title t'pages.seo.startup.meta.title' %>
<%# meta_tag :description, t('pages.seo.startup.meta.description') %>
<%# meta_tag :keywords, t('pages.seo.startup.meta.keywords') %>

<section class="page startup">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        ¿Buscas un equipo tecnológico innovador y <strong>productivo para tu Startup?</strong>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br />
    </div>
  </div>

  <div class="cont-introduction col-xs-10 col-xs-offset-1">

    <blockquote class="curly-quotes">El especialista Bernd Schoner, co-fundador
      de la Startup ThingMagic asegura que no hay una bola mágica para el éxito
      de una startup, <strong>tu equipo</strong> puede lograrlo o no.
    </blockquote>
    <figure class="text-center">
      <%= image_tag "startup/startup.jpg", class: "img-responsive" %>
    </figure>
    <br />
  </div>
  <br>
  <div>
    <div class='content col-xs-10 col-xs-offset-1'>
      <p>
        <strong>Hoy en día no es suficiente tener una buena idea par lograr una
          empresa o un producto de éxito.</strong>
        <br>
        En el siglo XXI las empresas necesitan perfiles técnicos y tecnológico en
        sus equipos, construir una <strong>Startup</strong> solo es prácticamente
        imposible.
        No todos pueden montar una Startup, convertirlo en negocio y sacarlo
        adelante, la mayoría de la Startup fracasan antes de lo que se piensan por
        muchos factores: estrategia equivocada, producto no rentable, falta de
        dinero, equipo tecnológico no adecuado, poca gana de luchar.
        <br>
        <hr />
        <div class="text-center">
          <h3>En el año 2016 solo España ha tenido 2.663 Startups.</h3>
          <%= link_to 'Fuente > Digital startup ecosystem overview 2016', 'http://mobileworldcapital.com/wp-content/uploads/2016/04/Spain_Startup_Ecosystem_Overview_2016_MWCapital_vf.compressed.pdf',  target: :blank %>
          <br />
          <br />
          <%= link_to new_contact_path, class: "btn btn-primary btn-lg" do %>
            Solicita tu
            <br class="visible-xs">
            consultoría
            <br class="visible-xs">
            gratuita
          <% end %>
        </div>

      </p>
      <hr>
      <p>
        RockAndRor es un equipo de profesionales dedicados en exclusiva al
        <strong>desarrollo ágil de aplicaciones web en RubyonRails</strong> para
        <strong>Startup</strong>. En ésta pagina nos centraremos en la parte
        tecnológica que es uno de los aspecto mas importante para tu negocio y
        es nuestro servicio puntero.
        Antes de empezar a montar una <strong>Startup</strong>, o si ya la tienes
        y no va muy bien, seria bueno analizar cual son los pasos fundamentales
        para no equivocarse en el campo tecnológico.
        Si por la cabeza tienes una cuantas preguntas sobre como montar una
        startup seguro una de estas es si puede montar una empresa tecnológica
        sin saber nada de código. La respuesta e si.
      </p>
      <h2>
        <strong>Caso de exito de una singola personas</strong>
      </h2>
      <p>Personas como <strong>Steve Jobs</strong> que no sabia nada de código y
         programación admitio que había mucha cosas que no tenia ni idea de como
          iban pero supo acompañase con Steve Wozniak y un potente equipo de
          desarrolladores trayendo a Apple en el sitio que todos sabemos.
          También <strong>Jack Ma</strong> fundador del gigante Alibaba antes de
          lanzarse en internet no sabia di que iba el código y aun ahora no
          entiende muy bien como funciona.
          No obstante estos empresarios no saben nada de programación sigon
          siendo uno de los pioneros del mercado, poque saben mucho de marketing,
          mercado, productos y por cierto tienen un equipo brutal de desarrollo.
          Tener nociones de código puede ayudar al fundador a no perderse ningún
           detalle de lo que esta ocurriendo a su alrededor, es cierto que no
           tener un equipo de desarrollo con años de experiencia pude llevar al
           fracaso en menos que no se diga.
        </p>

      <h2>
        <strong>10 motivos por lo cual una Startup pueda fracasar.</strong>
      </h2>
      <p>Hay caso de éxito como Apple y Alibaba, pero también hay <strong>caso
        de fracaso</strong> y según <a href='https://www.cbinsights.com'>CB Insight</a>
        los 10 principales motivos son:</p>
      <!-- <div class='col-md-6 text-center'>
        <%= image_tag "startup/failure.png" %>
         /%small http://www.freepik.com/free-vector/falling-down-business_765896.htm
      </div> -->
      <div>
        <ol>
          <li>No responden a ninguna necesidad del mercado</li>
          <li>Se quedan sin efectivo</li>
          <li>No cuentan con el equipo adecuado</li>
          <li>Les supera la competencia</li>
          <li>Tienen problemas de precios y costes</li>
          <li>El producto es de baja calidad</li>
          <li>No tienen un modelo de negocio</li>
          <li>No hacen buen marketing</li>
          <li>Ignoran a sus clientes</li>
          <li>El momento es inoportuno para su producto</li>
        </ol>
      </div>

      <div class="text-center">
        <hr />
        <blockquote class='curly-quotes'>
          Un extracto del juramento de los Superhéroes de la Draper University:
          <br />
          “Fallaré y fallaré hasta alcanzar el éxito.”
        </blockquote>
        <%= link_to new_contact_path, class: "btn btn-primary btn-lg" do %>
          Solicita tu
          <br class="visible-xs">
          consultoría
          <br class="visible-xs">
          gratuita
        <% end %>
        <hr />
      </div>

      <p>Alejándose de estos motivos es importante tener en cuenta que  lo mejor
        que puede tener una <strong>Startup</strong> es encontrar un equipo que
        tenga gana y ilusión de participar y aportar valor al producto o servicio.
      </p>
      <span class='underline'>Una Startup necesitas gente que le gusta el proyecto
        y que le guste aprender cada día más para aportar mas a la idea de
        producto.
      </span>
      <br>
      <h2>
        <strong>Equipo para el desarrollo</strong>
      </h2>
      <p>Una startup necesitas si o si de una parte tecnológica, un equipo con
        años de experiencia y obsesión para código limpio y optimizado que sea
        un equipo interno a la startup o externo. Sin dudas un equipo interno a
        la empresa es una buena opción para que sea siempre comprometido.
        Otra opción es subcontratar un equipo externo pudiendo tener mayor
        control en los costes, pero teniendo en cuenta que no siempre se encuentran
        personas dispuestos a comprometerse. Otra opción que quizás sea la mejor
        es tener un CTO dentro proprio empresa y dejar que el se encargue de
        subcontratar un equipo de desarrollo externo y dirigido para el, también
        aquí con pro y contra.
      </p>
      <h2>
        <strong>Tecnología adecuada</strong>
      </h2>
      <p>Es importante elegir la herramienta correcta para desarrollar un producto
        a medida y si es de Startup que hablamos la herramientas de ultima
        generación son la mejor elección, si quieres hacer una simple Landing
        page o un Blog no hace falta montar un muestro, existe Wordpress que
        también si a nacido como plataforma de blog hoy se utiliza también para
        crear web dinámica.

        Si la intención es <strong class="underline">crear de verdad un producto
          a medida</strong> la herramientas mas utilizada hoy en día '2017' que
          se utilizan son:
          Ruby on Rails, AngularJS, Git, Html5 ,Sass, Responsive, Heroku, Node.js,
          Ionic, Postgress etc..
      </p>
      <div class='col-xs-12 text-center'>
        <hr>
        <blockquote class='curly-quotes'>
          Sea lo que sea, una idea un producto que tengas en mente
          <br />
          y sea una aplicación web lo puedes hacer on Rails.
        </blockquote>
        <div class="col-md-3 text-center">
          <%= image_tag "startup/rails-logo.svg" %>
        </div>
      </div>
      <div class='col-xs-12'>
        <hr>
        <h2>
          <strong>Algunos grandes que construyeron sus sitios con Rails</strong>
          </h2>
        <p>
          Airbnb, Couchsurfing, Shopify, BaseCamp, ThemeForest, Fiverr, Github,
          Hulu, Indiegogo, KickStarter, Square, Shopify, Pixlr, Zendesk, 500px.
        </p>
        <hr>
      </div>
      <div class='col-xs-12'>
        <h2>
          <strong>Metodología  - MVP</strong>
        </h2>
        <p>
          Otro factor muy importante es la metodología, una <strong>Startup</strong>
          no se hace en un par de días, no tienes plantilla Wordpress que montar,
          es muy importante entender que el desarrollo de software a medida requiere
          una planificación y metodología adecuada, definir una tarea de funcionalidad
          que necesitas para que el equipo de desarrollo pueda entender y analizar
          cada punto para calcular aproximadamente cuanto tiempo llevara llegar el
          termine de cada tarea.
        </p>
        <br />
          <%= image_tag "startup/cupcake_model_mvp.png", class: 'image-responsive center-block' %>
          <br />
          <div class='text-center'>
            <small>http://www.perfomatix.com/appdevelopmentblogs/minimum-viable-product-mvp-startup/</small>
          </div>
        <br />
        <p>
          Palabras como MVP, Agile, Scrum, son solo algunos de lo términos que se
          utilizan en el mundo de las <strong>Startup</strong> para ahorrar tiempo
          , dinero y también para hacer cambio rápidamente sin destrozar todo el
          proyecto.
        </p>
        <h2>
          <strong>Entender el modelo de negocio de tu Startup</strong>
        </h2>
        <p>Comunicar el focos de la Startup no quiere decir solo intercambio de
          información, una Startup exige flexibilidad, necesitas que el equipo de
          desarrollo se abdata a los cambios diario que puede tener la empresa y
          que cada miembro del equipo sea capaz de coger responsabilidad y priorizar
          la tareas mas importante/urgente según el momento, y que tenga la mente
          siempre abierta por cualquier cambio repentino.
        </p>
        <h2>
          <strong>Porque elegir nosotros como equipo tecnologico para lanzar tu Startup</strong>
        </h2>
        <p>
          RockAndRor es un equipo de <%= link_to 'Desarrollo web en Palma de Mallorca', desarrollo_web_palma_de_mallorca_path, title: 'Desarrollo web en Palma de Mallorca' %> ,
          no es simplemente un equipo de desarrolladores que se sienta
          en  frente de la pantalla esperando tarea que hacer,
          <strong class="underline">somos un equipo que le  interesa ser unos
            excelentes programadores en continua evolución dando a cada tarea su
            máxima importancia para poder dormir sueños tranquilos</strong>, no
            somos solo programadores, somos empresarios como tu y entendemos el
            valor de un proyecto, cuanto cuesta llevarlo a cabo y nos preocupamos
            para que tu inversión se recupere cuanto antes.
        </p>

        <hr />
        <blockquote class='curly-quotes text-center'>“Tenemos un plan estratégico.
          Se llama hacer las cosas bien”  Herb Kelleher
        </blockquote>
        <hr />

      </div>



      <div class='col-xs-10 col-xs-offset-1 text-center'>
        <p>Si tienes una gran idea y quieres lanzar tu Startup con metodología
          Agile y MVP, RockAndRor es lo que buscas, un equipo que se centra solo
          en el desarrollo de software a medida.
        </p>
        <%= link_to new_contact_path, class: "btn btn-primary btn-lg" do %>
          Solicita tu
          <br class="visible-xs">
          consultoría
          <br class="visible-xs">
          gratuita
        <% end %>
      </div>
    </div>
  </div>
</section>
