<% title t'pages.startup.meta.title' %>
<% meta_tag :description, t('pages.startup.meta.description') %>
<% meta_tag :keywords, t('pages.startup.meta.keywords') %>

<section class="page startup">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.startup.h1_title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
      <br />
    </div>
  </div>

  <div class="cont-introduction col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
    <blockquote class="curly-quotes">
      <%= t'pages.startup.quote_1_html' %>
    </blockquote>
    <%= image_tag "startup/startup.jpg", class: "img-responsive center-block" %>
    <br />
  </div>

  <div class='content col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2'>
    <p>
      <%= t'pages.startup.description_1_html' %>
      <hr />
      <div class="text-center">
        <h3><%= t'pages.startup.h3_1_html' %></h3>
        <%= image_tag "startup/startup-spain.jpg", class: "img-responsive center-block" %>
        <br />
        <%= link_to 'Fuente > Digital startup ecosystem overview 2016', 'http://mobileworldcapital.com/report/startup-ecosystem/',  target: :blank %>
        <br />
        <br />
        <%= link_to new_contact_path, class: "btn btn-option btn-lg" do %>
          <%= t'common.btn_option_contact_html' %>
        <% end %>
      </div>
    </p>
    <hr>
    <p>
      <%= t'pages.startup.description_2_html' %>
    </p>
    <h2>
      <%= t'pages.startup.h2_1_html' %>
    </h2>
    <p>
      <%= t'pages.startup.description_3_html' %>
    </p>
    <h2>
      <%= t'pages.startup.h2_2_html' %>
    </h2>
    <p>
      <%= t'pages.startup.description_4_html' %>
    </p>
    <div class="row">
      <div class="col-md-5 hidden-xs">
        <%= image_tag "startup/failure.png", class: 'img-responsive center-block failure-image'  %>
        <!-- <small>http://www.freepik.com/free-vector/falling-down-business_765896.htm</small> -->
      </div>
      <div class="col-md-7">
        <br />
        <ol class="no-padding-left">
          <%= t'pages.startup.list_failure_list_html' %>
        </ol>
      </div>
    </div>
    <div class="text-center">
      <hr />
      <blockquote class='curly-quotes'>
        <%= t'pages.startup.quote_2_html' %>
      </blockquote>
      <%= link_to new_contact_path, class: "btn btn-option btn-lg" do %>
        <%= t'common.btn_option_contact_html' %>
      <% end %>
      <hr />
    </div>
    <p>
      <%= t'pages.startup.description_5_html' %>
    </p>
    <h2>
      <%= t'pages.startup.h2_3_html' %>
    </h2>
    <p>
      <%= t'pages.startup.description_6_html' %>
    </p>
    <h2>
      <%= t'pages.startup.h2_4_html' %>
    </h2>
    <p>
      <%= t'pages.startup.description_7_html' %>
    </p>
    <div class='col-xs-12 text-center'>
      <hr>
      <blockquote class='curly-quotes'>
        <%= t'pages.startup.quote_3_html' %>
      </blockquote>
      <%= image_tag "startup/rails-logo.svg", class: 'rails-logo' %>
    </div>
    <div class='col-xs-12'>
      <hr>
      <h2>
        <%= t'pages.startup.h2_5_html' %>
      </h2>
      <p>
        <%= t'pages.startup.description_8_html' %>
      </p>
      <hr>
    </div>
    <div class='col-xs-12'>
      <h2>
        <%= t'pages.startup.h2_6_html' %>
      </h2>
      <p>
        <%= t'pages.startup.description_9_html' %>
      </p>
      <br />
      <%= image_tag "startup/cupcake_model_mvp.png", class: 'img-responsive center-block' %>
      <br />
      <div class='text-center'>
        <small><a href="http://www.perfomatix.com/appdevelopmentblogs/minimum-viable-product-mvp-startup/", target="blank">Fuente: perfomatix</a></small>
      </div>
      <br />
      <p>
        <%= t'pages.startup.description_10_html' %>
      </p>
      <h2>
        <%= t'pages.startup.h2_7_html' %>
      </h2>
      <p>
        <%= t'pages.startup.description_11_html' %>
      </p>
      <h2>
        <%= t'pages.startup.h2_8_html' %>
      </h2>
      <p>
        <%= t'pages.startup.description_12_html' %>
      </p>
      <hr />
      <blockquote class='curly-quotes text-center'>
        <%= t'pages.startup.quote_4_html' %>
      </blockquote>
      <hr />
    </div>
    <div class='col-xs-10 col-xs-offset-1 text-center'>
      <p>
        <%= t'pages.startup.description_13_html' %>
      </p>
      <br />
    </div>
  </div>
</section>
<%= render 'shared/contact_now' %>
