<% title t'pages.works.taskscheduler.meta.title' %>
<% meta_tag :description, t('pages.works.taskscheduler.meta.description') %>
<% meta_tag :keywords, t('pages.works.taskscheduler.meta.keywords') %>

<section class="page taskscheduler">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.works.taskscheduler.h1_title_html' %>
      </h1>
      <lead><%= t'pages.works.taskscheduler.lead' %></lead>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <%= image_tag "taskscheduler/logo-taskscheduler.png", class: 'logo' %>
      <p>
        <%= t'pages.works.taskscheduler.general_description_html' %>
      </p>
      <%= image_tag "taskscheduler/image-smartphone.jpg", class: 'img-responsive' %>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <h2>Cual ha sido nuestra misión?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <br />
      <h2>Front-End</h2>
      <p>
        El nuevo FrontEnd de Boatjump se ha diseñado para la cómoda navegación de los usuarios en todo tipo de dispositivos, con lo nuevos colores de la marca. Hemos adaptado el diseño para tablets tanto con orientación vertical como con orientación horizontal y a todo tipo de teléfonos móviles y navegadores web.
      </p>
      <%= image_tag "boatjump/lanzadera.jpg", class: 'img-responsive' %>
      <br />
      <h2>Back-End</h2>
      <p>
        El nuevo FrontEnd de Boatjump se ha diseñado para la cómoda navegación de los usuarios en todo tipo de dispositivos, con lo nuevos colores de la marca. Hemos adaptado el diseño para tablets tanto con orientación vertical como con orientación horizontal y a todo tipo de teléfonos móviles y navegadores web.
      </p>
      <%= image_tag "boatjump/lanzadera.jpg", class: 'img-responsive' %>
      <br />
      <h2><%= t'pages.works.boatjump.h2_tecnology_html' %></h2>
      <p>
        <%= t'pages.works.boatjump.tecnology_html' %>
      </p>
    </div>
  </div>
</section>

<%= render 'shared/contact_now' %>
