<% title t'pages.team.meta.title' %>
<% meta_tag :description, t('pages.team.meta.description') %>
<% meta_tag :keywords, t('pages.team.meta.keywords') %>

<section class="page team">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h1>
        <%= t'pages.team.h1_title' %>
      </h1>
      <lead><%= t'pages.team.lead' %></lead>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
    <h2><%= t'pages.team.h2_1_title' %></h2>
    <p>
      <%= t'pages.team.description_1_html' %>
    </p>
    <hr />
    <h2><%= t'pages.team.h2_2_title' %></h2>
    <p>
      <%= t'pages.team.description_2_html' %>
    </p>
  </div>
  <div class="row photos">
    <div class="container">
      <div class="col-lg-12">
        <h2 class="text-center">
          <%= t'pages.team.h2_3_title' %>
        </h2>
        <br />
        <div class="col-xs-12 col-sm-4 senen">
          <div>
            <%= image_tag "team/senen-new.jpg", class: 'img-responsive' %>
          </div>
          <h5><%= t'pages.team.title_rodero' %></h5>
          <%= t'pages.team.skill_rodero_html' %>
          <ul class="list-inline">
            <li>
              <a href="https://twitter.com/senenrodero" target="_blank">
                <%= inline_svg "svg/twitter.svg" %>
              </a>
            </li>
            <li>
              <a href="https://github.com/Senen" target="_blank">
                <%= inline_svg "svg/github.svg" %>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/senenrodero/" target="_blank">
                <%= inline_svg "svg/linkedin.svg" %>
              </a>
            </li>
          </ul>
          <hr />
          <span class="text"><%= t'pages.team.description_rodero' %></span>
          <hr />
          <span>#Surfer, #Padre, #Ingeniero, #Cap, etc..</span>
        </div>
        <div class="col-xs-12 col-sm-4 alessandro">
          <div>
            <%= image_tag "team/alessandro-new.jpg", class: 'img-responsive' %>
          </div>
          <h5><%= t'pages.team.title_cuoghi' %></h5>
          <%= t'pages.team.skill_cuoghi_html' %>
          <ul class="list-inline">
            <li>
              <a href="https://twitter.com/agileontheweb" target="_blank">
                <%= inline_svg "svg/twitter.svg" %>
              </a>
            </li>
            <li>
              <a href="https://github.com/agileontheweb" target="_blank">
                <%= inline_svg "svg/github.svg" %>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/alessandrocuoghi" target="_blank">
                <%= inline_svg "svg/linkedin.svg" %>
              </a>
            </li>
          </ul>
          <hr />
          <span class="text"><%= t'pages.team.description_cuoghi' %></span>
          <hr />
          <span>#Italiano, #Skateboard, #Headphone, #Backpack, #Cap, #Hatecold, #LoveHot</span>
        </div>
        <div class="col-xs-12 col-sm-4 sebas">
          <div>
            <%= image_tag "team/sebas.jpg", class: 'img-responsive' %>
          </div>
          <h5><%= t'pages.team.title_roig' %></h5>
          <%= t'pages.team.skill_roig_html' %>
          <ul class="list-inline">
            <li>
              <a href="https://twitter.com/sroig83" target="_blank">
                <%= inline_svg "svg/twitter.svg" %>
              </a>
            </li>
            <li>
              <a href="https://github.com/taitus" target="_blank">
                <%= inline_svg "svg/github.svg" %>
              </a>
            </li>
            <li>
              <a href="https://es.linkedin.com/in/sebastiaroig" target="_blank">
                <%= inline_svg "svg/linkedin.svg" %>
              </a>
            </li>
          </ul>
          <hr />
          <span class="text"><%= t'pages.team.description_roig' %></span>
          <hr />
          <span>#Padre, #Barbacoa, #Fakewhistle</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
    <h2><%= t'pages.team.h2_4_title' %></h2>
    <p>
      <br />
      <strong><%= t'pages.team.strong_4_1_title' %></strong>
      <br />
      <%= t'pages.team.description_4_1_html' %>
      <br />
      <br />
      <strong><%= t'pages.team.strong_4_2_title' %></strong>
      <br />
      <%= t'pages.team.description_4_2_html' %>
      <br />
      <br />
      <strong><%= t'pages.team.strong_4_3_title' %></strong>
      <br />
      <%= t'pages.team.description_4_3_html' %>
      <br />
      <br />
    </p>
  </div>
</section>

<%= render 'shared/contact_now' %>
