<section class="page team">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.team.h1_title' %>
      </h1>
      <lead><%= t'pages.team.lead' %></lead>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <h2><%= t'pages.team.h2_1_title' %></h2>
    <p>
      <%= t'pages.team.description_1_html' %>
    </p>
    <hr />
    <h2><%= t'pages.team.h2_2_title' %></h2>
    <p>
      <%= t'pages.team.description_2_html' %>
    </p>
    <hr />
    <h2>
      <%= t'pages.team.h2_3_title' %>
    </h2>
    <p>
      <%= t'pages.team.description_3_html' %>
    </p>
  </div>

  <div class="row photos">
    <div class="container">
      <div class="col-xs-12">
        <div class="col-xs-12 col-sm-4 alessandro">
          <div class="circle">
            <%= image_tag "team/alessandro.jpg", class: 'img-responsive' %>
          </div>
          <h5><%= t'pages.team.title_cuoghi' %></h5>
          <%= t'pages.team.skill_cuoghi_html' %>
          <hr />
          <span class="text"><%= t'pages.team.description_cuoghi' %></span>
        </div>
        <div class="col-xs-12 col-sm-4 senen">
          <div class="circle">
            <%= image_tag "team/senen.jpg", class: 'img-responsive' %>
          </div>
          <h5><%= t'pages.team.title_rodero' %></h5>
          <%= t'pages.team.skill_rodero_html' %>
          <hr />
          <span class="text"><%= t'pages.team.description_rodero' %></span>
        </div>
        <div class="col-xs-12 col-sm-4 sebas">
          <div class="circle">
            <%= image_tag "team/sebastia.jpg", class: 'img-responsive' %>
          </div>
          <h5><%= t'pages.team.title_roig' %></h5>
          <%= t'pages.team.skill_roig_html' %>
          <hr />
          <span class="text"><%= t'pages.team.description_roig' %></span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <h2><%= t'pages.team.h2_4_title' %></h2>
    <p>
      <br />
      <strong><%= t'pages.team.strong_4_1_title' %></strong>
      <br />
      <%= t'pages.team.description_4_1_html' %>
      <br />
      <br />

      <strong><%= t'pages.team.strong_4_2_title' %></strong>
      <br />
      <%= t'pages.team.description_4_2_html' %>
      <br />
      <br />

      <strong><%= t'pages.team.strong_4_3_title' %></strong>
      <br />
      <%= t'pages.team.description_4_3_html' %>
      <br />
      <br />
    </p>
  </div>
</section>

<%= render 'shared/contact_now' %>
