<%# title t'pages.works.webdings.meta.title' %>
<%# meta_tag :description, t('pages.works.webdings.meta.description') %>
<%# meta_tag :keywords, t('pages.works.webdings.meta.keywords') %>

<section class="page webdings">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.webdings.h1_title_html' %>
      </h1>
      <lead><%= t'pages.webdings.lead' %></lead>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-md-3">
          <%= inline_svg "svg/webdings-logo.svg", class: 'logo' %>
        </div>
        <div class="col-md-9">
          <p>
            <%= t'pages.webdings.general_description_html' %>
          </p>
          <%= link_to 'Visita Webdings', 'https://www.webdings.es', class:'btn btn-lg btn-primary', target: 'blank' %>
        </div>
      </div>
      <hr />
      <br />
      <h2><%= t'pages.works.webdings.h2_1_html' %></h2>
      <p><%= t'pages.works.webdings.description_1_html' %></p>
      <br />

      <br />
      <h2><%= t'pages.works.webdings.h2_2_html' %></h2>
      <p><%= t'pages.works.webdings.description_2_html' %></p>
      <h2><%= t'pages.works.webdings.h2_3_html' %></h2>
      <p><%= t'pages.works.webdings.description_3_html' %></p>
      <hr />
      <h2><%= t'pages.works.webdings.h2_4_html' %></h2>
      <ul class="no-padding-left">
        <%= t'pages.works.webdings.list_4_html' %>
      </ul>
    </div>
  </div>

</section>

<%= render 'shared/contact_now' %>
