<% title t'pages.webdings.meta.title' %>
<% meta_tag :description, t('pages.webdings.meta.description') %>
<% meta_tag :keywords, t('pages.webdings.meta.keywords') %>

<section class="page webdings">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h1>
        <%= t'pages.webdings.h1_title_html' %>
      </h1>
      <lead><%= t'pages.webdings.lead' %></lead>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <div class="row">
        <div class="col-md-3">
          <%= inline_svg "svg/webdings-logo.svg", class: 'logo' %>
        </div>
        <div class="col-md-9">
          <p>
            <%= t'pages.webdings.general_description_html' %>
          </p>
          <%= link_to 'Visita Webdings', 'https://www.webdings.es', class:'btn btn-lg btn-primary', target: 'blank' %>
          <br />
          <br />
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.webdings.h2_1_html' %></h2>
      <p><%= t'pages.webdings.description_1_html' %></p>
      <%= image_tag "webdings/webdings.jpg", class: 'img-responsive' %>
      <br />
    </div>
  </div>

  <div class="row brand text-center">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.webdings.h2_2_html' %></h2>
      <p><%= t'pages.webdings.description_2_html' %></p>
      <br />
      <div class="col-md-12 text-center">
        <%= inline_svg "svg/webdings-logo.svg" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.webdings.h2_3_html' %></h2>
      <p><%= t'pages.webdings.description_3_html' %></p>
      <div class="row text-center">
        <%= image_tag "webdings/frontend-commercial.jpg", class: 'img-responsive center-block' %>
        <small>Quitar esta imagen y poner un video estilo boatjump</small>
        <br />
        <%= link_to 'Visita la pagina comercial de Webdings', 'https://www.webdings.es', class:'', target: 'blank' %>
      </div>
      <hr />
      <h2><%= t'pages.webdings.h2_4_html' %></h2>
      <p><%= t'pages.webdings.description_4_html' %></p>
      <div class="row text-center">
        <%= image_tag "webdings/webdings-device.png", class: 'img-responsive center-block' %>
        <%= link_to 'Visita la pagina demo de una web auto generada', 'http://www.webdings.es/isabel-manuel', class:'', target: 'blank' %>
      </div>
      <hr />

      <h2><%= t'pages.webdings.h2_5_html' %></h2>
      <p><%= t'pages.webdings.description_5_html' %></p>
      <div class="row text-center app-smartphone">
        <div id="galleryApp" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#galleryApp" data-slide-to="0" class="active"></li>
            <li data-target="#galleryApp" data-slide-to="1"></li>
            <li data-target="#galleryApp" data-slide-to="2"></li>
            <li data-target="#galleryApp" data-slide-to="3"></li>
            <li data-target="#galleryApp" data-slide-to="4"></li>
            <li data-target="#galleryApp" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <%= image_tag "webdings/iphone-apphome.png" %>
            </div>
            <div class="item">
              <%= image_tag "webdings/iphone_appmenu-open.png" %>
            </div>
            <div class="item">
              <%= image_tag "webdings/iphone-appguest.png" %>
            </div>
            <div class="item">
              <%= image_tag "webdings/iphone-appmap.png" %>
            </div>
            <div class="item">
              <%= image_tag "webdings/iphone-appplates.png" %>
            </div>
            <div class="item">
              <%= image_tag "webdings/iphone-apptable.png" %>
            </div>
            <div class="item">
              <%= image_tag "webdings/iphone-appgallery.png" %>
            </div>
          </div>
          <a class="left carousel-control" href="#galleryApp" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#galleryApp" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <%= link_to 'Prueba la App', 'http://www.webdings.es/', class:'', target: 'blank' %>
      </div>
      <br />
    </div>
  </div>

  <div class="row back-end">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.webdings.h2_6_html' %></h2>
      <p><%= t'pages.webdings.description_6_html' %></p>
      <hr />

      <div id="galleryBackend" class="carousel slide" data-ride="carousel">
        <p class="text-center">
          Mira algunas de las pantallas del backend o
          <%= link_to 'pruebalo en vivo', 'http://www.webdings.es/admin', class:'', target: 'blank' %>
        </p>
        <ol class="carousel-indicators">
          <li data-target="#galleryBackend" data-slide-to="0" class="active"></li>
          <li data-target="#galleryBackend" data-slide-to="1"></li>
          <li data-target="#galleryBackend" data-slide-to="2"></li>
          <li data-target="#galleryBackend" data-slide-to="3"></li>
          <li data-target="#galleryBackend" data-slide-to="4"></li>
          <li data-target="#galleryBackend" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag "webdings/backend-dashboard.png" %>
          </div>
          <div class="item">
            <%= image_tag "webdings/backend-guests.png" %>
          </div>
          <div class="item">
            <%= image_tag "webdings/backend-menu.png" %>
          </div>
          <div class="item">
            <%= image_tag "webdings/backend-table.png" %>
          </div>
          <div class="item">
            <%= image_tag "webdings/backend-interest.png" %>
          </div>
          <div class="item">
            <%= image_tag "webdings/backend-expenses.png" %>
          </div>
          <div class="item">
            <%= image_tag "webdings/backend-activity.png" %>
          </div>
        </div>
        <a class="left carousel-control" href="#galleryBackend" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#galleryBackend" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <p>
        <strong><%= t'pages.webdings.h2_7_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_7_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_8_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_8_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_9_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_9_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_10_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_10_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_11_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_11_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_12_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_12_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_13_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_13_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_14_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_14_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->

      <hr />
      <p>
        <strong><%= t'pages.webdings.h2_15_html' %></strong>
      </p>
      <p><%= t'pages.webdings.description_15_html' %></p>
      <!-- <div class="row text-center">
        <%#= image_tag "webdings/backend-dashboard.png", class: 'img-responisve' %>
      </div> -->
    </div>
  </div>


  <div class="row tecnology">
    <div class="col-xs-10 col-xs-offset-1 col-lg-8 col-lg-offset-2">
      <h2><%= t'pages.webdings.h2_tecnology_html' %></h2>
      <p><%= t'pages.webdings.tecnology_html' %></p>
    </div>
  </div>

</section>

<%= render 'shared/contact_now' %>
