<section class="page works">
  <div class="row header-bg ">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'home_page.works.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="container gal-container">

    <%= link_to boatjump_path do %>
      <div class="col-xs-12 col-sm-6 col-md-4 gal-item">
        <div class="box">
          <%= image_tag "boatjump/cover-work.jpg", class: 'img-responsive' %>
        </div>

        <div class="name-customer">
          <strong>Boatjump</strong> | <i>Startup</i>
          <br />
          <%= t'pages.works.boatjump.lead' %>
        </div>
      </div>
    <% end %>

    <%= link_to webdings_path do %>
      <div class="col-xs-12 col-sm-6 col-md-4 gal-item">
        <div class="box">
          <%= image_tag "webdings/cover-work.jpg", class: 'img-responsive' %>
        </div>
        <div class="name-customer">
          <strong>Webdings</strong> | <i>Proyecto proprio</i>
          <br />
          <%= t'pages.works.webdings.lead' %>
        </div>
      </div>
    <% end %>

    <%= link_to taskscheduler_path do %>
      <div class="col-xs-12 col-sm-6 col-md-4 gal-item">
        <div class="box">
          <%= image_tag "taskscheduler/cover-work.jpg", class: 'img-responsive' %>
        </div>
        <div class="name-customer">
          <strong>Taskscehduler</strong> | <i>Web Mobile</i>
          <br />
          <%= t'pages.works.taskscheduler.lead' %>
        </div>
      </div>
    <% end %>

    <%= link_to eatbooking_path do %>
      <div class="col-xs-12 col-sm-6 col-md-4 gal-item">
        <div class="box">
          <%= image_tag "eatbooking/cover-work.jpg", class: 'img-responsive' %>
        </div>
        <div class="name-customer">
          <strong>EatBooking</strong> | <i>Web Ipad</i>
          <br />
          <%= t'pages.works.eatbooking.lead' %>
        </div>
      </div>
    <% end %>

    <%= link_to oasiscatamaran_path do %>
      <div class="col-xs-12 col-sm-6 col-md-4 gal-item">
        <div class="box">
          <%= image_tag "oasis-catamaran/cover-work.jpg", class: 'img-responsive' %>
        </div>
        <div class="name-customer">
          <strong>OasisCatamaran</strong> | <i>Web</i>
          <br />
          <%= t'pages.works.oasiscatamaran.lead' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
