<%= form_for @budget, url:budget_index_path, html: {
  data: { errored: params[:action] == "create", received_params: params[:budget].present? }}   do |f| %>
  <div id="wizard">
    <%= render "module_1",f: f %>
    <%= render "module_2",f: f %>
    <%= render "module_3",f: f %>
    <%= render "module_4",f: f %>
    <%= render "module_5",f: f %>
    <%= render "module_6",f: f %>
    <%= render "module_total", f: f  %>
    <%= render "form_send_email", f: f  %>
  </div>
<% end %>
