.page.budget-consul
  .cont-introduction.medium-12.small-12.large-6
    %h1 Servicios <strong>Consul</strong>
    %span Software libre para la participación ciudadana

  .header.row
    .medium-6.columns
      .medium-6.large-6.large-offset-6.columns
        %div.text-center
          = inline_svg "svg/consul-logo.svg"
          %p CONSUL es la herramienta de participación ciudadana más completa para un gobierno abierto, transparente y democrático.
          = link_to 'www.consulproject.org', 'http://consulproject.org/es/',  target: :blank

    .medium-6.columns
      .medium-6.columns.medium-offset-1.columns
        %p.text-left
          En Rock&Ror hemos colaborado en la implementación de funcionalides para Consul. Estamos totalmente alineados en cuanto a buenas prácticas y filosofía de desarrollo con el equipo técnico que ha desarrollado Consul. Estamos convencidos de que somos la empresa perfecta para poder realizar cualquier tarea de implantación y mantenimiento de esta herramienta dado el conocimiento que tenemos de la misma.

    .medium-12.columns.text-center
      = link_to 'Calcule su presupuesto', '#scroll_to_rockandror', id: "btn-budget"

  .row.services
    .content.small-12.medium-10.medium-centered.large-centered.columns
      %h3.text-center
        Servicios que ofrecemos

      %p.medium-4.medium-centered.column En función a las peticiones que hemos recibido de diferentes Ayuntamientos hemos detectado los diferentes módulos que se pueden necesitar relacionados con la herramienta.

      %section.timeline
        %ul
          %li
            %div.content
              .icon
                = inline_svg "svg/budget-consul-icon-1.svg"
              .content-text
                %h3 Módulo 1:
                %p Preparación del entorno de servidores necesarios para instalar la aplicación
          %li
            %div.content
              .icon
                = inline_svg "svg/budget-consul-icon-2.svg"
              .content-text
                %h3 Módulo 2:
                %p Configuración de herramientas de monitorización de errores, integración continua e instalación de la aplicación
          %li
            %div.content
              .icon
                = inline_svg "svg/budget-consul-icon-3.svg"
              .content-text
                %h3 Módulo 3:
                %p Adaptación de Consul a su Ayuntamiento (adaptación de la imágen corporativa)
          %li
            %div.content
              .icon
                = inline_svg "svg/budget-consul-icon-4.svg"
              .content-text
                %h3 Módulo 4:
                %p Integración Censo integración con el Censo para poder aprovechar al máximo la aplicación.
          %li
            %div.content
              .icon
                = inline_svg "svg/budget-consul-icon-5.svg"
              .content-text
                %h3 Módulo 5:
                %p Necesidad de personalizar procesos por parte del Ayuntamiento (Análisis, implementación y documentación)
          %li
            %div.content
              .icon
                = inline_svg "svg/budget-consul-icon-6.svg"
              .content-text
                %h3 Módulo 6:
                %p Mantenimiento y actualización del repositorio con las últimas modificaciones en Consul
          %li
            .icon
              = inline_svg "svg/budget-consul-icon-7.svg"

      .columns.medium-8.medium-centered.budget-container.text-center
        %h2
          CALCULE SU PRESUPUESTO
        %p
          Vaya seleccionando los módulos que necesita su ayuntamiento y calcule el precio total.

        = form_for @budget, url:budget_index_path, html: { data: { errored: params[:action] == "create"} }  do |f|
          = f.text_field :ammount

          %div
            %h3 Módulo 1 <span>Preparación de servidores</span> <small>1.000€</small>

            %section
              .row
                .small-12.medium-10.columns.medium-centered.container-text
                  %p Si el Ayuntamiento dispone de un departamento de informática capaz de resolver los siguientes puntos no será necesaria la contratación de este módulo.
                  %ul
                    %li Preparación de los servidores Linux
                    %li Gestión de dominios
                    %li Gestión de redirecciones
                    %li Gestión del sevidor de email
                    %li Actualizaciones periodicas y de seguridad de los Sistemas Operativos / Servidores
                    %li Instalación y mantenimiento del Sistema gestor de Base de Datos
                    %li Gestión y monitorización del sistema de copias de seguridad

                  .container-checkbox
                    %label{ :for => "budget_module_1" }
                    = f.check_box :module_1


            %h3 Módulo 2 <span>Configuración e Instalación</span> <small>1.000€</small>
            %section
              .row
                .small-12.medium-10.columns.medium-centered.container-text
                  %p Este módulo es indispensable para cualquier Ayuntamiento que aún no disponga de la aplicación de Consul y pretenda implantarla.
                  %ul
                    %li Configuración Integración Continua "Travis"
                    %li Gestión y monitorización de errores "Rollbar"
                    %li Configurar Capistrano
                    %li Instalación de la aplicación
                  .container-checkbox
                    = f.check_box :module_2
                    %label{:for => "budget_module_2"} Añadir este módulo al presupuesto

            %h3 Módulo 3 <span>Adaptación visual</span> <small>500€</small>
            %section
              .row
                .small-12.medium-10.columns.medium-centered.container-text
                  %p Con este módulo se pretende cambiar los estilos, logos y colores de la aplicación para darle un toque distintivo para cada ayuntamiento.
                  %ul
                    %li Adaptación de la imágen corporativa
                  .container-checkbox
                    = f.check_box :module_3
                    %label{:for => "budget_module_3"} Añadir este módulo al presupuesto

            %h3 Módulo 4 <span>Integración Censo</span> <small>2000€</small>
            %section
              .row
                .small-12.medium-10.columns.medium-centered.container-text
                  %p También se incluye la integración con el Censo para poder aprovechar al máximo la aplicación.
                  %ul
                    %li Integración con servicios del censo
                  .container-checkbox
                    = f.check_box :module_4
                    %label{:for => "budget_module_4"} Añadir este módulo al presupuesto

            %h3 Módulo 5 <span>Personalización de procesos</span> <small>3.200€</small>
            %section
              .row
                .small-12.medium-10.columns.medium-centered.container-text
                  %p En caso de necesitar personalizaciones de funcionalidades ya existentes en consul o pequeños cambios que se pueden requerir sobre la versión de Consul, ofrecemos un paquete de 60 horas donde se incluye:
                  %ul
                    %li Análisis de la necesidad del Ayuntamiento con la necesidad de personalizar alguna parte de la aplicación.
                    %li Implementación de los cambios analizados
                    %li Documentación adicional de las customizaciones.

                  %p * Al desconocer las nuevas funcionalidades que puede querer el cliente hemos dimensionado lo que creemos suficiente para hacer customizaciones en 1 o 2 procesos. Por ejemplo "propuestas ciudadanas" y "debates". En este ejemplo hemos puesto 64h entre desarrollo, analisis y documentación.
                  .container-checkbox
                    = f.check_box :module_5
                    %label{:for => "budget_module_5"} Añadir este módulo al presupuesto

            %h3 Módulo 6 <span>Mantenimiento</span> <small>7.200€</small>
            %section
              .row
                .small-12.medium-10.columns.medium-centered.container-text
                  %p Para cualquier Ayuntamiento que ya tenga instalado Consul ofrecemos un servicio mensual de actualización.
                  %ul
                    %li Servicio de actualización de la plataforma en base a las versiones de consul que vayan saliendo.
                    %li Formación y transferencia del conocimiento
                  .container-checkbox
                    = f.check_box :module_6
                    %label{:for => "budget_module_6"} Añadir este módulo al presupuesto

            %h3 Enviar solicitud <span>Contacta con Rockandror</span>
            %section
              .row
                .small-12.medium-10.columns.medium-centered.container-text
                  %p Quiere que nos pongamos en contacto con usted? Por favor rellene los siguientes campos, haga click sobre el botón "Enviar solicitud" y le llamaremos en menos de 24h
                  = f.text_field :name, placeholder: 'Nombre o Empresa', class: "required"
                  = f.text_field :email, placeholder: 'Email', class: "required"
                  = f.text_area :message, placeholder: 'Mensaje', class: "required"
