= content_for :body_class, "body-budget-consul"
= content_for :meta_title, t(".meta.title")
= content_for :meta_description, t(".meta.description")
= content_for :meta_keywords, t(".meta.keywords")

.page.budget-consul
  .cont-introduction.medium-12.small-12.large-6
    %h1
      = t(".title_html")
    %span
      = t(".subtitle_html")

  .header.row
    .medium-12.large-8.large-centered.columns
      .medium-6.columns
        %div
          = inline_svg "svg/consul-logo.svg"
          %p
            = t(".description")
            %br
            = link_to 'www.consulproject.org', 'http://consulproject.org/es/',  target: :blank

      .medium-6.columns
        %p
          = t(".experience.part1")

          <br><br>

          = t(".experience.part2_html")

  .row.services
    .content.small-8.small-offset-2.text-center
      %h2
        = t(".services.title")
      %p
        = t(".services.description")

  .row.services.no-padding-top{"data-equalizer" => ""}
    %section.small-10.small-offset-1.column.medium-6.medium-offset-0
      %ul.pricing-table.installation{"data-equalizer-watch" => ""}
        %li.title
          %h2
            = t(".installation.title")
        %li.price
          = t(".installation.price")
        %li.description
          = t(".installation.latest")
        %li.description
          = t(".installation.design")
        %li.description
          = t(".installation.census")
        %li.description
          = t(".installation.updates")
        %li.description
          = t(".installation.monitoring")
        %li.cta-button
          %a.button{:href => "#"}
            = t(".installation.submit")
    %section.small-12.column.large-6
      %ul.pricing-table.development{"data-equalizer-watch" => ""}
        %li.title
          %h2
            = t(".development.title")
        %li.price
          = t(".development.price")
        %li.description
          = t(".development.new")
        %li.description
          = t(".development.mods")
        %li.description
          = t(".development.technical_support")

        %li.cta-button
          %a.button.floor{:href => "#"}
            = t(".development.submit")

  .row.services.no-padding-top
    .content.small-12.text-center
      %p
        = t(".custom")

  .row.team
    .content.small-12
      %h2.text-center
        = t(".team.title")

    .small-12.medium-4.medium-offset-2.column
      %p.description
        = t(".team.description")
    .small-12.medium-4.end.column
      %ul.members
        %li
          = link_to t(".team.javi.name"), "https://github.com/javierm/", target: :blank
        %li
          = link_to t(".team.senen.name"), "https://github.com/Senen/", target: :blank
        %li
          = link_to t(".team.sebas.name"), "https://github.com/taitus/", target: :blank
      %p
        = t(".team.certified_html")
