%section.open-source
  .row-fluid.columns
    .medium-10.medium-offset-1
      = link_to t('common.btn_back'), url_for(:back), class: 'btn-back'
      %h1
        = t'home_page.open_source.title_html'
      = render 'shared/logo_rails'
  .medium-12.columns
    .medium-10.medium-offset-1

      %h2
        = t'pages.open_source.h2_title'
      %p
        = t'pages.open_source.description'
