= form_for contact, url: url, remote: remote do |f|
  = f.invisible_captcha :subject

  .row
    .small-3.columns
      = f.label :name, t("activemodel.attributes.contact.name"), class: "inline right"
    .small-9.columns
      = f.text_field :name, placeholder: t("helpers.placeholder.contact.name"), label: false

  .row
    .small-3.columns
      = f.label :email, t("activemodel.attributes.contact.email"), class: "inline right"
    .small-9.columns
      = f.text_field :email, label: false

  .row
    .small-3.columns
      = f.label :message, t("activemodel.attributes.contact.message"), class: "inline right"
    .small-9.columns
      = f.text_area :message, rows: 5, label: false

  .row
    .small-offset-3.small-9.columns
      = f.submit t("shared.contact.form.submit"), class: "large button expand success"
