%section.greetings
  .row-fluid.columns
    .medium-10.medium-offset-1
      = link_to t('common.btn_back'), url_for(:back), class: 'btn-back'
      %h1
        = t'pages.contact.greetings.title_html'
      = render 'shared/logo_rails'

  .medium-12.columns
    .medium-10.medium-offset-1
      %br
      %p.text-center
        = t'pages.contact.greetings.share.text_html'
        %br
        = link_to t('common.addbutton'), nil
