<section class="page contact">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.contact.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-6 col-md-offset-3">
      <%= bootstrap_form_for @contact, url: contact_index_path do |f| %>
        <%= f.text_field :name,
                          placeholder: t("pages.contact.form.name"),
                          hide_label: true %>
        <%= f.text_field :email,
                          placeholder: t("pages.contact.form.email"),
                          hide_label: true %>

        <%= f.select :name, [["5.000"], ["10.000"], ["15.000"], ["25.000"], ["35.000"], ["50.000"], ["75.000"]],
                    { hide_label: 'true', include_blank: "Que budget tienes?" },
                    { class: "selectpicker" } %>

        <%= f.text_area :message,
                        placeholder: t("pages.contact.form.message"),
                        hide_label: true %>

        <%= f.submit t("pages.contact.form.btn_send"),
                      class: "btn btn-block btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
</section>
