.contactpage
  .row
    .small-12.large-6.small-centered.columns
      %h2.text-center ¿Quieres entrar en contacto? <strong>¡ESCRÍBANOS!</strong>
      %br
      = form_for @contact, url:contact_index_path do |f|
        = f.text_field :name, placeholder: 'Nombre o Empresa'
        = f.text_field :email, placeholder: 'Email'
        = f.text_area :message, placeholder: 'Mensaje'
        = f.submit "Contacta ahora", class: "button-action  large button expand"