.contactpage
  .img-background.row
  .cont-introduction.medium-12.small-12.large-6
    %h2.text-center <strong>Contacta con</strong> Rock'Ror
    %hr
    = form_for @contact, url:contact_index_path do |f|
      = f.text_field :name, placeholder: 'Nombre o Empresa', label: "Nombre"
      = f.text_field :email, placeholder: 'Email', label: "Email"
      = f.text_area :message, placeholder: 'Mensaje', label: "Mensaje"
      = f.submit "Contacta ahora", class: "button"