<section class="contact">
  <div class="row-fluid columns">
    <div class="medium-10 medium-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.contact.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>
  <div class="medium-12 columns">
    <div class="medium-6 medium-offset-3">
      <%= form_for @contact, url:contact_index_path do |f| %>
        <%= f.label :name, t('pages.contact.form.name') %>
        <%= f.text_field :name, placeholder: t('pages.contact.form.name') %>
        <%= f.text_field :email, placeholder: t('pages.contact.form.email') %>
        <%= f.label :name, t('pages.contact.form.minimum') %>
        <!--/= select_tag(:city_id, options_for_select([['5000', 1], ['7000', 2], ['10000', 3], ['15000', 4], ['20000', 5]]))
        -->
        <%= f.text_area :message, placeholder: t('pages.contact.form.message') %>
        <%= f.submit t('pages.contact.form.btn_send'), class: "large button expand" %>
      <% end %>
    </div>
  </div>
</section>
