<% title t'pages.contact.meta.title' %>
<% meta_tag :description, t('pages.contact.meta.description') %>
<% meta_tag :keywords, t('pages.contact.meta.keywords') %>

<section class="page contact">
  <div class="row header-bg">
    <div class="col-xs-10 col-xs-offset-1">
      <%= link_to t('common.btn_back'), url_for(:back), class: 'btn-back' %>
      <h1>
        <%= t'pages.contact.title_html' %>
      </h1>
      <%= render 'shared/logo_rails' %>
    </div>
  </div>

  <div class="container">
    <div class="col-xs-12 col-md-6">
      <br />
      <br />
      <p>
        Completa el formulario, cuéntanos tu idea y nos pondremos en contacto contigo lo antes posible para concertar una reunión.
        <hr />
        <strong>Si lo prefiere, puede llamarnos directamente al 34 607 320 876 o escribirnos un <a href="mailto:info@rockandror.es">correo electrónico.</a></strong>
      </p>
    </div>
    <div class="col-xs-12 col-md-6">
      <br />
      <%= bootstrap_form_for @contact, url: contact_index_path do |f| %>
        <%= f.text_field :name,
                          label: "Nombre, Apellido o nombre empresa",
                          placeholder: t("pages.contact.form.name")
                          %>
        <%= f.text_field :email,
                          label: "A que email te contestamos?",
                          placeholder: t("pages.contact.form.email")
                          %>

        <%= f.select :budget, [["No lo se"], ["5.000"], ["10.000"], ["15.000"], ["25.000"], ["35.000"], ["50.000"], ["75.000"], [" + 75.000"]],
                    { label: "¿ Cuánto planeas invertir ? ", include_blank: "Budget" },
                    { class: "selectpicker" }
                     %>

        <%= f.text_area :message,
                        placeholder: t("pages.contact.form.message"),
                        label: "Hablanos de tu proyecto"
                        %>

        <%= f.submit t("pages.contact.form.btn_send"),
                      class: "btn btn-block btn-primary btn-lg" %>
      <% end %>
    </div>

  </div>
</section>
