%section.contact
  .row-fluid.columns
    .medium-10.medium-offset-1
      = link_to t('common.btn_back'), url_for(:back), class: 'btn-back'
      %h1
        = t'pages.contact.title_html'
      = render 'shared/logo_rails'
  .medium-12.columns
    .medium-6.medium-offset-3
      = form_for @contact, url:contact_index_path do |f|
        = f.text_field :name, placeholder: t('pages.contact.form.name')
        = f.text_field :email, placeholder: t('pages.contact.form.email')
        = f.text_area :message, placeholder: t('pages.contact.form.message')
        = f.submit t('pages.contact.form.btn_send'), class: "large button expand"
