= form_for contact, url: url, remote: remote do |f|
  = f.invisible_captcha :subject
  = f.text_field :name, placeholder: t("helpers.placeholder.contact.name")
  = f.text_field :email
  = f.text_area :message, rows: 7
  = f.submit t(".submit"), class: "large button expand success"
