!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui", :name => "viewport"}/
    %meta{:content => "Desarrollo web ágil a medida en RubyOnRails para Baleares y el resto de España. Desarrollo web en Palma de Mallorca. Expertos desarrolladores y diseñadores web. ", :name => "description"}/
    %meta{:content => "RockAndRoR, desarrollo web ágil a medida, desarrollo RubyOnRails, desarrollo Ruby on Rails, desarrollo RoR, desarrollo web, desarrollo web desde Mallorca, desarrollo web para Baleares y el resto de España", :name => "keywords"}/
    %meta{:content => "rockandror.com", :name => "author"}/
    %meta{:content => "mXNBRXCqbOYP9B5OIPiHpEDeM8tHM4jEWIjsqsqqlh0", :name => "google-site-verification"}/
    = favicon_link_tag 'favicon.ico'
    %title= content_for?(:title) ? yield(:title) : "Desarrollo web en Palma de Mallorca - RockAndRoR"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render "shared/navbar_animate"
    = render "shared/modal"    
    = render "shared/notice"
    = render 'cookies_eu/consent_banner'
    = yield
    = render 'shared/footer'