<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="RockAndRor - Desarrollo web ágil a medida">
  <meta name="author" content="rockandror.com">

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
  <title>Rockadndror</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="loadings gradient-radial">
    <div class="spin-box"></div>
  </div>
  <%= render "shared/navbar" %>
  <%= render "shared/notice" %>
  <%= yield %>
</body>
</html>
