<!DOCTYPE html>
<html>
<head lang="es">
<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />  
  <meta name="description" content="Desarrollo web en Palma de Mallorca. Expertos desarrolladores y dise침adores web. Desarrollo web agil a medida para toda Espa침a.">
  <meta name="keywords" content="rockandror, desarrollo web 치gil a medida, desarrollo Ruby on Rails, desarrollo Ror, desarrollo web">
  <meta name="author" content="rockandror.com">
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,600,700' rel='stylesheet' type='text/css'>
  <title>Desarrollo web 치gil a medida - RockandRor</title>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="loading gradient-radial">
    <div class="spin-box"></div>
  </div>
  <%= render "shared/navbar" %>
  <%= render "shared/notice" %>
  <%= yield %>
</body>
</html>