!!!
%html{:lang => I18n.locale}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    - if Rails.env.production?
      %meta{ content: Rails.application.secrets.google_site_verification, name: "google-site-verification"}/
      %meta{ content: Rails.application.secrets.yandex_site_verification, name: "yandex-verification"}/
      %meta{ content: Rails.application.secrets.bing_site_verification, name: "msvalidate.01"}/
    = favicon_link_tag 'favicon.ico'

    %title= meta_title
    %meta{:content => meta_description, :name => "description" }/
    %meta{:content => meta_keywords, :name => "keywords"}/
    %meta{:content => meta_title, :property => "og:title"}/
    %meta{:content => meta_description, :property => "og:description"}/
    %meta{:content => I18n.locale, :property => "og:locale"}/
    %meta{:content => "http://www.rockandror.com", :property => "og:url"}/
    %meta{:content => "png", :property => "og:image:type"}/
    %meta{:content => "#{asset_url('logo-center-share.png')}", :property => "og:image"}/


    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{:class => "#{yield (:body_class)}"}
    = render "shared/navbar_animate"
    = render 'cookies_eu/consent_banner'
    = yield
    = render 'shared/footer'
